@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.navbar{
  background:white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}


#container {
  display: flex;           
  flex-direction: row;  
  overflow: hidden;        
  flex-wrap: nowrap;     
  justify-content: space-between; 
  background:white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  position:fixed;
  z-index: 999;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  left:75%;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 20px 16px;
  position: fixed!important;
  z-index: 1001!important;
  border-radius: 5px;
  transition:0s 180s;
}
.dropdown:hover .dropdown-content {
  display: block;
  transition:0s 180s;
  position: fixed;

}

.back-to-top{background:#393e46; color:white; padding:10px; border-radius: 25px; font-weight: 400;}

#container2 {
  display: none;           
  flex-direction: row;  
  overflow: hidden;        
  flex-wrap: nowrap;     
  justify-content: space-between; 
  background:white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  position:fixed;
  z-index: 999;
  width: 100%;
  height:60px;
}
#container > div {
  width: 550px;
  height: 60px;
  margin:auto;
}

#container > .div2 {
  width: 100px;
  height: 60px;
}


.reaction-button{
  background:none;
  border:none;
  padding:10px;
  border-radius: 5px;
  font-size: 16px;
}

.comment-input{
  overflow: visible;
  width: 100%;
  border:none;
  outline:none;

}

.comment-box{
  width:100%;
  overflow-wrap: break-word;

}

.comment-box-acc{
  margin-top: 5vh;
  background:white!important;
  border-radius: 5px!important;
  cursor: auto!important;
  padding:10px;
  height:auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.comment-container{
  background:white;
  padding:10px;
  width:100%;
}

.discussion-container{
  padding:50px;
  text-align: left;
  margin-top:5vh;
  background-color: white;
  border:1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 5px;
  height:auto;
  width:900px;
}

.reaction-button:hover{
  background:whitesmoke;
  color:black;
}

.post-thumb {
  float: right
}
.post-thumb img {
  display: block
}

.post-title {
  font-weight: bold;
  font-size: 200%;
  padding: 9px;
  background: #ccc
}

.community-title{
  font-size: 20px;
  margin-left: 9px;
  font-weight: bold;
}

.social-icons{
  margin-left: 9px;
  padding-right: 10px;
}

.icon-link,.community-item-link{
  color:black!important;
  text-decoration: none!important;
}

.header{
  text-decoration: none!important;
  font-size: 2rem !important;
  font-weight: bolder;
  color:black!important;
  font-family: 'Comfortaa', cursive;
  margin-left: 10vh;

}


.comment-container{
  background:white;
  padding:10px;
  width:100%;
}

.col-w{
  width: 100%;
}

.users-comment{
  background-color: white;
  padding:10px;
  margin-top: 5vh;
  height: auto;

}

.post-option-btns{
  text-align: left;
  margin-top: 3rem;
}

.post-option-listings{
  text-align: left;
  margin-top: 1.5rem;
}

.post-option-btn-item{
  background:white;
  width:140px;
  height:40px;
  margin-left: 10px;
  border:2px black solid;
  outline:none!important;
  font-weight: bold;
  color:gray;
}

#divRight{
  width: 800px;
  float: left;
  margin-top: 4rem;
  margin-left: 15rem;
}

#divLeft{
  width: 600px;
  float: left;
}

.forgot-pw{text-align: center;}

.create-account{text-align: center;}

.spacing{margin-top: 3rem;}

.spacing-home{margin-top: 5rem;}


.stats-item-1{
  width:100px;
  border-radius: 5px;
  height: 100px;
  float: left;
  text-align: center;
}


.top-posts{
  padding:10px;
  height:auto;
  width:auto;
  border-radius: 5px;
  margin-top: 20vh;
  
}

.top-posts-empty{
  padding:10px;
  height:auto;
  margin-top:2vh;
  width:600px;
  border-radius: 5px;
  background:white;
  border:1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}


.container-individual{
  width:75%;
  padding:50px;
  margin:auto;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.container-individual-community{
  width:100%;
  margin-top: 5rem;
  margin-bottom: 10rem;
  background:white;
}

.standard-button{
  width:auto;
  height:50px;
  padding:10px;
  outline:none!important;
  border:none;
  color: white;
  margin-top: 2vh;
  background:#393e46;
  font-weight: bold;
  border-radius: 5px;
}

.settings-button-cancel{
  width:auto;
  height:50px;
  margin-right:10px;
  margin-left: 10px;
  outline:none!important;
  border:2px solid red;
  color:white;
  background:red;
  font-weight: bold;
  border-radius: 5px;
}

.standard-button:hover{
  background:gray!important;
  color:white;
  font-weight: bold;
  transition: 0.15s;
}

.standard-button-cancel{
  width:auto;
  height:50px;
  margin-left:10px;
  outline:none!important;
  border:2px solid red;
  color:white;
  background:red;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
}

.write-button{
  width:auto;
  font-size: 14px;
  height:auto;
  padding:10px;
  outline:none!important;
  border:none!important;
  background:blue;
  color:white;
  font-weight: bold;
  border-radius:5px;
  float:right;
  margin-left:3vh;
  margin-right: 10vh;

}

.nowrap {
  white-space: nowrap ;
  color:black;
  text-decoration: none!important;
}

.write-button:hover{
  background:darkblue;
  color:white;
  transition: 0.2s;
}

.standard-button-cancel:hover, .settings-button-cancel:hover{
  border:2px solid lightgray;
  background:lightgray;
  color:black;
  transition: 0.2s;
}

.standard-button-remove{
  width:100px;
  height:40px;
  border:2px solid red;
  background:red;
  margin-bottom: 5px;
  color:white;
  font-weight:bold;
}

.link{
  color:black!important;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none!important;
  cursor: pointer;
  margin-left:3vh;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
/* Create two equal columns that floats next to each other */
.two {
  float: left;
  width: 50%;
  padding: 15px;
}

/* Clear floats after the columns */
.one:after {
  content: "";
  display: table;
  clear: both;
}

.link:hover{
  color:gray!important;
}

.link-right{
  color:#d9e1e8  !important;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none!important;
  cursor: pointer;
  margin-left:9vh;
}

.feed-option{
  border:none;
  background:none;
  color:black;
  margin-right:10px;
  padding:10px;
  outline:none!important;
}


.feed-option-active{
  border:none;
  color:blue;
  margin-right:10px;
  padding:10px;
  background:none;
  border-bottom: 2px solid blue;
  font-weight: bold;
  outline:none!important;
}

.feed-option:hover{
  background:#BBDEFB;
  transition: 0.1s;
  color:#1E88E5;
  border-radius: 5px;
}

.standard-button-remove:hover{border:2px solid black;}


.chart-left{
  float:left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


.users-communities-card{
  padding-top:1rem;
  width: 400px;
  height:auto;
  color: black;
  background:white;
  margin-top:2rem;
  padding-bottom:10px;
  transition:0.2s;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.soc-item-list-join-btn{
  background:lightgray;
  color:white;
  border-width: 1px;
  border-radius: 5px;
  outline: none!important;
  border: none;
  width:150px;
  margin: 0; /* remove all margins to fit two divs in the container */
}

.success-copy{font-size:15px;}

.soc-item-list-visit-btn{
  background:whitesmoke;
  border-radius: 25px;
  border-width: 1px;
  outline: none!important;
  border-style: solid;
  width:60px;
  margin-left: 10px; /* remove all margins to fit two divs in the container */
  display: inline-block; /* display block elements in one line */
}

/* USER PROFILE */

.user-profile-about{
  width: 350px;
  text-align: left;
  height:auto;
  margin-top:25px;
  padding:20px;
  padding-right:10px;
  background:white;
  border:1px solid lightgray;
  border-radius: 5px;
}

.content-muted{font-size: 15px;margin-left:10px;color:black;font-weight: 500;}


.user-profile-about-bio{
  width:300px;
  height:auto;
  margin:left;
  padding:10px;
  border-radius: 10px;
  margin-top: 12rem;
  position: fixed;
}

.l-prof-btn-default{
  margin-left: 3rem;
  font-size: 1rem;
}

.spacing{margin-top: 3rem;}

/* FEED */
.create-a-post{
  text-align: center;
  margin-top: 5vh!important;
  width:auto;
  border-color: lightgray;
  border-radius: 5px;
  padding:20px;
}

.quick-post-options{
  border-style: none;
  padding:15px;
  border-radius: 50%;
  outline:none!important;
  margin-left:20px;
  color:#1869E7!important;
  background-color: white;
}

.report-icon{color:red;}

.user-profile-shortlink:hover{display: block;color: red;}

.quick-post-options-forum{
  border-style: none;
  padding:15px;
  border-radius: 50%;
  outline:none!important;
  margin-left:20px;
  color:#6264A7  !important;
  background-color: white;
}

.social-link{
  color:black;
  text-decoration: none!important;
  cursor: pointer;
}

.social-link:hover{
  color:gray;
}

.quick-post-options-forum:hover , .quick-post-options-image:hover , .quick-post-options-link:hover , .quick-post-options:hover{
  background:#eef3f7;
  color:gray!important;
}

.quick-post-options-image{
  border-style: none;
  padding:15px;
  border-radius: 50%;
  outline:none!important;
  margin-left:20px;
  background-color: white;
}

.quick-post-options-link{
  border-style: none;
  padding:15px;
  border-radius: 50%;
  outline:none!important;
  margin-left:20px;
  color:#964e4e !important;
  background-color: white;
}


.quick-options{
  background:white;
  padding:30px;
  border-radius: 5px;
  border:1px solid lightgray;
}

.quick-options-input{
  border:none!important;
  outline:none!important;
}

.quick-options-container{
  margin-top:3.5rem;
}

.quick-options:hover{
  border:1px solid rgb(160, 160, 160)!important;
  cursor: pointer;
}

.text-muted-society{
  background-color:#2488d8;
  border-radius: 25px;
  padding:5px;
  font-size:14px;
  color:white;
  font-weight: bold;
}

.post-header{font-size: 50px;}
.post-content{font-size: 21px;font-weight: 300;margin-bottom: 10px;}
.discussion-button{width:100%; background:gray;color:white;font-weight: 500;border:none!important;border-radius: 5px; height: 40px;}

.text-muted{font-size:12px;margin-left:10px;}

.text-muted-profile{
  float:right;
  font-size:14px;
}

.comment-conten{
  height:auto; width:300px;
}


.-post-footer-card{
  background:white!important;
  border-radius:25px;
}

.post-user-profile{
  display: inline-block;
  cursor: pointer;
  size: 10px;
}

.leaderboard-title{
  font-size: 50px;
  margin-bottom: 5rem;
  text-align: center;
}

.global-feed{
  margin-top: 12vh!important;
  padding:50px;
  width:1000px!important;
  margin:auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border:1px solid lightgray;
}


.new-post-feed{
  margin-top:10vh!important;
  padding:50px;
  margin:auto;
  width:850px!important;
  background-color: white;
  height:auto;
  border-radius: 5px;
  border:1px solid lightgray;
}

.post-buttons{
  margin:auto;
  text-align: center;
}

.global-feed-leaderboard{
  margin-top: 55px;
  padding:50px;
  width:1240px!important;
  background-color: white;
  border-radius: 5px;
}


.global-forum{
  margin-left: 16.5rem;
  padding:50px;
  width:1100px!important;
  background-color: white;
  border-radius: 5px;
}

.forum-card{
  width:290px;
  margin-right: 25px;
  padding:20px;
  height:120px;
  border-radius: 5px;
  margin-top:1.5rem;
  border:1px solid white;
  background:whitesmoke;
  margin-top: 10px;
  border-radius: 5px;
}


.fontPost{
 font-size: 20px;
 padding:10px;
}

.comment-box-acc{
  background:white!important;
  border:1px white solid!important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px!important;
  border-radius: 5px!important;
  cursor: auto!important;
  padding:10px;
}
#dropdown-basic{
  background:none!important;
  color:black;
  border:none!important;
  padding:10px;
  background:white;
  color:gray;
  outline:none!important;
  text-decoration:none!important;
  border-radius: 15px;
}

#dropdown-basic:hover, .comm-link:hover{
  cursor:pointer;
  transition: 0.2s;
}

.post-link-a{
  text-decoration: none!important;
  color:black;
}

#dropdown-basic:active{
  outline: none!important;
}

.menu{
  width:350px!important;
  height:400px;
  padding:10px;
  left:80%;
  z-index:1;
  background-color: white;
  position: fixed;
  border-radius: 5px;
  overflow:hidden; 
  overflow-y:scroll;
  transition: 0.2s;
  margin-top:7vh;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}


.forum{
  width:350px!important;
  height:400px;
  padding:10px;
  left:30%;
  z-index:1;
  background-color: white;
  position: fixed;
  border-radius: 5px;
  overflow:hidden; 
  overflow-y:scroll;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.header-image{
  color:black;
  box-shadow: none;
}

.filter-options{
  padding:10px;
  border-radius: 5px;
  width:100%;
  margin-top:3vh;
}

.filter-button{
  float: right;
}




.Title-input{
  border:none!important;
  width:750px;
  font-size: 40px;
  font-weight: bolder;
  outline:none!important;
}

.quick-options-a, .quick-options-a:hover{
  text-decoration: none!important;
  color:black;
}

.Content-input{
  border:none!important;
  width:750px;
  height:100px;
  font-size: 20px;
  outline:none!important;
}

.Comment-input{
  border:none!important;
  width:1000px;
  height:100px;
  font-size: 20px;
  outline:none!important;
}
.searchFilter{
  width:405px!important;
  height:350px;
  margin-left: 2vh;
  padding:10px;
  margin-top:0.5rem;
  background-color: white;
  border-radius: 5px;
  position: fixed!important;
  z-index: 1001!important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  overflow:hidden; 
  overflow-y:scroll;
  
}

.profileDropdwn{
  width:300px!important;
  height:auto;
  padding:10px;
  left: 82%;
  background-color: white;
  border-radius: 5px;
  position: fixed!important;
  z-index: 1001!important;
  margin-top:7vh;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.profileDropdwn2{
  width:300px!important;
  height:auto;
  padding:10px;
  left:35%;
  background-color: white;
  border-radius: 5px;
  position: fixed!important;
  z-index: 1001!important;
  margin-top:7vh;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.uname-feed{
  padding-left:50px!important;
  font-size:20px;
}

.comm-link{
  color:black;
  border:none!important;
  border-radius: 5px;
  color:gray;
  outline:none!important;
  text-decoration:none!important;
}

.post-form{border-radius: 10px!important;}

.post-link{text-decoration: none!important;}

.landing-2{background:black!important;}
.landing-nav-items{margin-right: 15rem;}

.containerLandingLeft{
  width: 40%;
  margin-top: 1vh;
  height: 5rem;
  outline: none !important;
  background-color: none!important;
  margin-left: 1rem;
  float: left;
  border-radius: 25px;
  text-align: center;
}

.mobile-navbar{display:none!important;}
.standard-navbar{display:block;}

.dashboard{
  margin-top: 1rem;margin-bottom: 1rem;
  border:1px solid lightgray;
  padding:50px; 
  width:1000px;
  border-radius: 5px;
  background:white;
  margin-top:10vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.notification{background:white; padding:10px;}
.notification:hover{background:whitesmoke; padding:10px;}
.leaderboard{background:white; padding:50px; margin-bottom: 10vh; border-radius: 5px;  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;}
.leaderboard-heading{margin-bottom: 2vh; text-align: center;}

.dashboard{
  height:100%;
  background:white;
}

.notify:hover, .square:hover{
  color:gray!important;
  transition:0.2s;
  cursor:pointer;
  border-radius: 5px;
}

.discussion-div-sticky{
  margin-top: 8rem;
  position: fixed!important;
  width:250px;
}

.community-sticky{
  margin-top: 2rem;
  padding-right: 50px;
  width:200px;
  position: fixed;
}


.navbar-title{font-size: 30px!important;padding:20px;color:black;font-weight: 500;}

article {
  margin-left: 80px;
  float: left;
  width: 70%;
  font-size: 20px;
  height: auto!important;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

.settings-btn-save{
  width:150px;
  height:50px;
  border-radius: 25px;
  border:1px solid black;
  background:black;
  color:white;
}

.user-bio{color:gray;}

.settings-btn-cancel{
  margin:10px;
  width:150px;
  height:50px;
  border-radius: 25px;
  border:1px solid black;
  background:black;
  color:white;
}

.forum-container{
  background:white;
  width:350px;
  padding:20px;
  border-radius: 5px;
  margin-top: 5vh!important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
}

.community-feed{
  margin-top: 16vh;
}

.forum-list{background:white;margin-top: 2vh; margin-left: 40vh; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;}

.community-container{
  background:gray;
  width:100%;
  margin: auto;
  margin-left: 100px;
  padding:20px;
}

.forum-post-content{font-size: 12px;}

.options-container{
  width:auto;
  background:white;
  margin-bottom:10px;
  border-radius: 5px!important;
}

.options-container-listings{
  width:1100px;
  background:white;
  padding:10px;
  border:1px solid lightgray;
  border-radius: 5px!important;
}


.communityFilter{
  width:900px;
  background:white;
  padding:10px;
  border:1px solid lightgray;
  border-radius: 5px!important;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px!important;
}

.community-card{
  background:white;
  height:auto;
  width:900px;
  padding:10px;
  border-radius: 5px;
  border:1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px!important;
}


.empty-feed-container{
  margin-top: 20px;
  width:auto;
  background:white;
  padding:10px;
  border-radius: 15px!important;
  border:1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px!important;
}

.community-btn{
  background:none!important;
  border:none!important;
  padding:10px;
  margin-right:10px;
  outline:none!important;
  font-weight: bold;
  color:gray;
  border-radius: 25px;
  text-decoration: none!important;
}

.explore-more{
  border:none!important;
  margin-left:10px;
  outline:none!important;
  font-weight: bold;
  color:#2196f3;
  border-radius: 5px;
  text-decoration: none!important;
}

.community-btn-filter{
  background:none!important;
  border:none!important;
  padding:10px;
  margin-right:10px;
  outline:none!important;
  font-weight: bold;
  float:right;
  border-radius: 5px;
  color:#2196f3;
  transition: 0.2s;
  background:whitesmoke!important;
}

.community-btn:focus{
  background:whitesmoke!important;
  color:#2196f3;
}

.skeleton-comms{
  margin-left: 5vh;
  margin-bottom: 20px;
}

.bio-box {
  float: left;
  margin: 10px;
}
.miniprofile2 {
  width: auto;
  height: auto;
  position: relative; /* all other elements styled relative to this section's position */
  font-family: Arial;
}

.miniprofileCommunities{
  width: auto;
  height: 200px;
  border-radius: 15px;
  margin:10px 10px 20px 10px;
  position: relative; /* all other elements styled relative to this section's position */
  font-family: Arial;
  background:white;
  border-bottom: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.community-desc-option{
  padding:10px;
  height:50px;
}

.miniprofileCommunities:hover{
  background:rgb(251, 251, 251);
}

.miniprofile {
  width: 200px;
  height: 70px;
  position: relative; /* all other elements styled relative to this section's position */
  font-family: Arial;
}


.miniprofileCommunity {
  width: auto;
  height: 80px;
  position: relative; /* all other elements styled relative to this section's position */
  font-family: Arial;
}

.miniprofileCommunity:hover{
  background:whitesmoke;
}

.headshot {
  margin: 10px;
  float: left;
}

.profile-name {
  font-size: 16px;
  margin: 0px;
  font-weight: bold;
}
.details {
  margin: 0px;
}

.user-column-one{
  padding:50px;
  text-align: center;
  bottom: 100% !important;;
}

.top-posts p {
  font-size:16px;
  font-weight: 500;
  color:gray;
}

.comment-content{width:200px!important;}

.title, .location {
  margin: 0px; 
  line-height: 1.4;
}

.heading{font-size: 30px;font-weight: bold; width: 50%;}

.content-post{font-size: 16px; color:gray; width:50%!important;}


.community-btn-active{
  background:whitesmoke;
  border:none!important;
  padding:10px;
  margin-right:10px;
  outline:none!important;
  font-weight: bolder;
  color:#2196f3;
  border-radius: 25px;
}
.community-btn:hover,.community-btn-filter:hover{
  color:#2196f3;
  transition: 0.2s;
  background:whitesmoke!important;
}

.community-btn-a:hover{
  background:lightgray;
  color:black;
  border:none;
}

.community-btn-a{
  background-color: blue;
  color:whitesmoke;
  width: 100px;
  height:40px;
  border:none;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
  padding:10px;
}

.comm-nav-item{
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 300;
  color:gray!important;
  margin-right: 10px;
}

.comm-nav-item:hover{
  color:black!important;
}

.delete-community-button{
  width:auto;
  padding:10px;
  font-weight: bold;
  background:red;
  color:white;
  border:none!important;
  border-radius: 25px;
}

.delete-community-button:hover{
  background:rgb(151, 0, 0);
}

.comm-settings-i{
  width:600px;
  height:50px!important;
}
.forum-options-btn{
  width:150px;
  height:auto;
  padding:10px;
  border-radius: 25px;
  outline:none!important;
  background:white!important;
  color:black;
  border:1px black solid;
  margin-right:10px;
}


.feed-option-item{font-size:15px; font-weight: 500!important;}
.landing-link{font-size:20px; font-weight:  500; color:black; margin-right: 20px;}

.create-post-discussion-btn-submit:hover{
  color:black;
  background:whitesmoke;
}

.create-post-btn-submit-category{
  margin:10px;
  border-radius:25px;
  height:40px;
  width:150px;
  outline: none!important;
  border-style: solid;
  background:white;
  color:black;
  border-width: 1px;
  transition: 0.2s;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.create-post-btn-submit-category:hover{
  color:black;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.containerFeedMiddle{
  margin-top: 6.5vh;
  width: 40%;
  height: auto;
  outline: none !important;
  float: left;
  margin-left: 5rem;
  padding-bottom: 10rem;
  border-style: none; 
  border-width: 0.1px;
  padding:10px;

}
.containerChartMiddle{
  margin-top: 6.5vh;
  width: 40%;
  height: auto;
  outline: none !important;
  float: left;
  margin-left: 20rem;
  padding-bottom: 10rem;
  border-style: none; 
  border-width: 0.1px;
  padding:10px;

}

.containerMiddleForum{
  width: 100%;
  height: auto;
  outline: none !important;
  float: left;
  padding-bottom: 10rem;
  border-style: none; 
  border-width: 0.1px;
  padding:10px;
}

.forumContainer{
  height: auto;
  width:400px;
  background:whitesmoke;
  padding:10px;
  border-radius: 15px;
  margin-top:100px;
  margin-left:335px;
}


.containerForum{
  width: 100%;
  height: auto;
  outline: none !important;
  float: left;
  margin-left: 4rem;
  padding-bottom: 10rem;
  border-style: none; 
  border-width: 0.1px;
  padding:10px;
}

.containerLanding{
  margin-top: 1.5vh;
  height: auto;
  text-align: center;
}

.containerForumMiddle{
  margin-top: 13.5vh;
  width: 40%;
  height: auto;
  outline: none !important;
  float: left;
  margin-left: 5rem;
  padding-bottom: 10rem;
  border-style: none; 
  border-width: 0.1px;
}

.containerFeedRight{
  margin-top: 11.4vh;
  width: 30%;
  height: 50vh;
  outline: none !important;
  float: right;
}

.-recommended-hr-style{
  width:300px;
}

.explore-more-link{
  margin-top:50px;
}

.recommended-chip{
  height:auto;
  width:auto;
  margin-top: 5vh;;
}

.recommended-chip-item{
  height:auto;
  width:auto;
  margin:5px!important;
  font-size:1rem!important;
  border-radius: 10px!important;
}

.-feed-item-header{
  font-size: 14px;
  font-weight: bold;
  color:gray;
  margin-left: 20vh;
}

.column-title{padding:10px;}
.column-head{  background:#393e46; color:#d9e1e8!important;  border-radius: 5px 5px 0 0;}
.column-head-comm{  background:#393e46;height: 50px;  border-radius: 15px 15px 0 0;}

.contributors-container{
  margin-top:20px;
  height:350px;
  width:300px;
  background-color: white;
  border:1px solid lightgray;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
}

.community-members-container{
  margin-top:19vh;
  height:320px;
  width:300px;
  background-color: white;
  border:1px solid lightgray;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  overflow: auto;
  padding:10px;
}

.user-profile-communities-container{
  margin-top: 5vh;
  margin-bottom: 5vh!important;
  margin-top: 5vh!important;

  height:320px;
  width:300px;
  background-color: white;
  /* border:1px solid lightgray; */
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  top: 4rem;
  overflow: auto;
  text-align: left;
  margin:auto;
  padding:10px;
}

.user-profile-activity-container{
  height:320px;
  width:300px;
  background-color: white;
  text-align: left;
  margin:auto;
  /* border:1px solid lightgray; */
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  overflow: auto;
  padding:10px;
}

.communities-container{
  margin-top:30px;
  width:820px;
  height: auto;
}

.community-header{
  width: 100%!important;
  height:18vh;
}

.community-header-profile{
  width: 100%!important;
  height:30vh;
  text-align:center;
  background:white;
  border:1px solid lightgray;
  margin-top: 5vh;
  pointer-events: auto;

}

.community-image{
  width: 125px;
  height:125px;
  border:2px solid black;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  border-radius: 10px;
  margin-top:2vh;
  -webkit-transform: scale(0.999);
  transform: scale(0.999);
  margin-left: 12vh;
}

.profile-image{
  width: 125px;
  height:125px;
  border:2px solid black;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  border-radius: 10px;
  margin-top:2vh;
  -webkit-transform: scale(0.999);
  transform: scale(0.999);
  margin-left: 15vh;

}

.community-image-admin{
  width: 125px;
  height:125px;
  border:2px solid black;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  border-radius: 10px;
  margin-top:2vh;
  -webkit-transform: scale(0.999);
  transform: scale(0.999);
  margin-left: 24vh;
}

.community-profile{
  background:white;
  width:400px;
  margin-top: 20vh;
  width: 50%;
  border-radius: 10px;
  margin:auto;
  margin-top: 15vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.community-name{
  margin-top: 2vh;
  font-size: 35px;
  font-weight: bold;
}

.community-options{
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align:center;
}

.post-image{
  float:right;
  margin-right: 2rem;
  margin-top: 4vh;
  width:200px;
  height: 150px;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.settings-options-container{
  margin-top: 11vh;
  height:auto;
  width:300px;
  float: left;
  text-align: left;
  margin-left: 20rem;
  padding:25px;
  border-radius: 5px;
  background-color:white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.settings-container{
  width:850px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding:25px;
  border-radius: 5px;
  background-color:white;
  margin:auto;
  margin-top: 10vh;
}

.-top-cont-header-leaderboard{
  text-align:center;
  font-size:4rem;
}

.contributor-item-community{
  margin:auto;
  margin-top:50px;
  padding:10px;
  height:auto;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.contributor-item-profile{
  width:auto;
  padding:10px;
  height:auto;
  margin-bottom: 5px;
  color:black;
}

.searchbar-header{
  color:gray;
  font-size: 10px;
}

.contributor-item-search:hover, .contributor-item-profile:hover{
  background:whitesmoke!important;
}

.-contributor-user-score{
  float:right;
  font-size:15px;
  padding:5px;
}

.recommended-container{
  border: none;
  background-color: white;
  width:300px;
  height:270px!important;
  border:1px solid lightgray;
  text-align: left;
  border-radius: 5px;
  margin-top:5vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}


.feed-container{
  width: 100%;
  margin-top: 12.5vh;
}


.discussion-post{
  height:auto;
  margin-bottom: 5px!important;
  color:black;
  border:1px solid lightgray;
  text-decoration: none!important;
  border-radius: 5px;
  background:white;
  width:700px;
  margin-top: 2vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}


.forum-post{
  height:auto;
  color:black;
  padding:20px;
  text-decoration: none!important;
  background:white;
  width:600px;
  margin-top: 5vh!important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius:5px;
}

.discussion-post:hover{
  border:1px solid rgb(165, 165, 165);
}

.miniprofile-post-redirect{
  text-decoration: none!important;
  color:black!important;
}

.post-reactions{
  color:black;
  display:block;
  padding:12px;
  text-decoration: none;
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  margin-top:5vh;
  text-align: center;
}

.post-field{
  width: 55vh;
  height:20vh;
}

.-soc-l-navigation{
  color:black;
}

.-soc-l-navigation:hover{
  color:black;
  text-decoration: none ;
}


.searchbar-nav-navbar{
  border-radius: 5px;
  width:400px;
  height:40px;
  padding:10px;
  outline:none!important;
  border:1px lightgray solid;
}

.searchbar-nav-square{
  width:800px;
  height:50px;
  padding:10px;
  outline:none!important;
  border:1px lightgray solid;
  border-radius: 5px;
}

.forum-title{
  font-size: 22px;
  margin-bottom: 20px;
}

.searchbar{
  width: 20rem;
  height:3rem;
  border-radius: 5px;
  border-style: solid;
  border-color: gray;
  outline: none !important;
  cursor: pointer;
}

.create-a-soc{
  margin:auto;
}

.-c-list-options{
  width:200px !important;
  height: 50px!important;
  border-color: gray!important;
  border-radius: 5px;
}

.submit-soc{
  width:30vh;
  height:5vh;
  border-radius: 25px;
  border-style: solid;
  border:none;
  outline: none !important;
  background:#1A2E35;
  color: white;
}
.submit-soc:hover{
  background:#27444e;
  color: white;
}

.socs-options-btns{
  margin:auto!important;
  text-align:center !important;
  padding-top:5rem!important;
}

.socs-options-btns{
  margin:auto!important;
  text-align:center !important;
  margin-top:10px!important;
}

.trending-soc{
  width:20vh;
  height:5vh;
  border-style: solid;
  outline: none !important;
  background:white;
  border:2px solid black;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top:1rem;
}
.trending-soc:hover{
  background:black;
  color: white;
  transition: 0.3s;
}
.textfield-create-a-soc{
  width:40vh;
}
.create-soc-div{
  text-align:center;
}

.showme {
  position: absolute;
  background-color: white;
  padding: .4em;
  border: 2px solid black;
  opacity: 0;
  width:0;
  height: 50px;
  text-align: center;
  z-index: -999;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: width 0.5s;
  transition: height 0.5s;

}

.showhim:hover >.showme {
  position: absolute;
  z-index: 999;
  opacity: 1;
  width:250px;
  height:200px;
  transition-delay: 0.5s;

}

.profile-card-align{
  margin-top: 5vh;
  border:1px solid whitesmoke;
  padding:20px;
  width:300px;
  border-radius: 5px;
  text-align: center;
  background-color:white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.create-soc:hover{
  color: lightgray;

}

.textfield-pw, .textfield-email, .textfield-name{
  width: 40vh;
}

.follow-btn , .community-button-join{
  width:auto;
  padding:10px;
  margin-bottom:1rem;
}

.forum-follow-btn:hover, .edit-pic-btn:hover, .create-event-btn:hover,  .forum-options-btn:hover , 
.settings-btn-save:hover, .settings-btn-cancel:hover,.follow-btn:hover , .post-option-btn-item-forum:hover{
  background:black;
  color:white;
}

.soc-item-list-join-btn:hover{
  background:#017fb8;
  color:white;
}


.user-image{
  width:150px;
  height:150px;
  text-align: center;
  border:2px solid white;
  vertical-align:middle;
}

.follow-community{
  background-color: blue;
  color:whitesmoke;
  width: auto;
  height:40px;
  border:none;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
  float: right;
  padding:10px;
  margin-right: 5vh;
}

.follow-community:hover{
  background-color:lightgray;
  color:black;
}
.podcast-desc{
  margin-top: 5rem!important;
  width:800px;
  padding:100px;
  background-color:white;
  margin:auto;
  text-align: left;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.podcast-button{
  width: auto;
  padding:15px;
  border-radius: 35px;
  border:none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background:#0e15fc;
  color:white;
  outline:none!important;
}

.podcast-button:hover{
  background-color:black;
  transition:0.3s;
}

.user-image-square{
  margin-top:1rem;
  margin-bottom:1rem;

  width:60px;
  height:60px;
  text-align: center;
}

.user-image-mini{
  width:50px;
  height:50px;
  padding:5px;
}

.commentBox{
  border:none!important;
  width:90%;
  outline:none!important;
}
.standard-option-btn{
  border-radius: 25px;
  border:none!important;
  padding:10px;
  outline:none!important;
}
.standard-option-btn:hover{
  cursor:pointer;
  background:#cce3f5;
  transition: 0.2s;
}

.standard-option-btn-post-hearts{
  border:none!important;
  padding:10px;
  color:grey;
  outline:none!important;
  border-radius: 15px;
}

.standard-option-btn-post-hearts-liked{
  border:none!important;
  padding:10px;
  color:red;
  outline:none!important;
  border-radius: 15px;
}

.post-time{font-size: 12px; margin-left:10px}


.standard-option-btn-post{
  border-radius:10px!important;
  border:none!important;
  padding:10px;
  background:none;
  color:grey;
  outline:none!important;
  margin-bottom: 1vh;
  margin-top: 5vh;
}

.standard-option-btn-comment{
  border-radius:10px!important;
  border:none!important;
  padding:10px;
  background:none;
  color:grey;
  outline:none!important;
  margin-bottom: 1vh;
}

 .standard-option-btn-post:hover, .standard-option-btn-comment:hover{
  cursor:pointer;
  background:white;
  transition: 0.2s;
  color:black;
  border-radius: 15px;
}

.standard-option-btn-post-hearts:hover,.standard-option-btn-post-hearts-liked:hover{
  cursor:pointer;
  background:whitesmoke;
  transition: 0.2s;
  color:#e22339;
  border-radius: 15px;
}

.post-interactions{
  background:whitesmoke;
  padding:10px;
  border-radius: 10px;
}


.forum-followers{
  background:#cce3f5;
  font-size:12px;
  padding:5px;
  border-radius: 5px;
}

.navbar-search{
  outline:none!important;
  margin-left: 2vh;
  padding:20px;
  width:400px;
  background:whitesmoke;
  border-radius: 5px;
  height:40px;
  outline:none!important;
  border:1px lightgray solid;
}


.profile-btn-wrapper-left{
  display: inline-block;
  margin-top: 8px;
  width:25px;
  height:25px;
  margin-bottom: 10px;
}

.edit-profile-form{
  height:auto;
  text-align: left;
  margin-top:2rem;
}

.SocietyLayout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  background-color:none;
  border-radius: 5px;
}

.search-div{
  border:1px solid lightgray;
  background-color:white;
  border-radius: 5px;
  margin-top:5vh;
  width:auto;
  padding:10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.UsersLayout{
  width:auto;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  margin:auto;
  text-align: center;
}

.socs-list-items{
  margin:auto;
  width: auto;
  height: 100px;
  background:white;
  margin-top:1.5rem;
  margin-bottom: 20px;
  margin-right: 33px;
  padding-bottom:10px;
  transition:0.2s;
  border:1px solid transparent;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.users-list-items{
  padding-top:1rem;
  margin:auto;
  width: 200px;
  height: auto;
  color: black;
  background:white;
  margin-top:1.5rem;
  margin-left: 2.5vh;
  padding-bottom:10px;
  transition:0.2s;
  border:1px solid white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.soc-item-image{
  width:100%;
  height:150px;
  margin:auto;
  margin-top: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.thumbnail {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  width:100%;
  height:auto;
}


.community-members-item{
  border:none!important;
  width:200px;
  padding:10px;
  text-align: center;
}

.community-members-item-profile{
  width:auto;
  height:auto;
  padding:5px;
  padding-bottom:30px;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 10px;

}
.community-members-item-user-profile{
  width:auto;
  height:auto;
  padding:5px;
  margin-right: 10px;
  border-radius: 10px;
}

.community-items-feed{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin:auto;
    text-align: center;
    margin-left: 5vh;
}

.community-item{
  margin-bottom: 10px;
}

.community-member-item-pic{
  width:80px;
  height:80px;
  margin:0 auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  position: relative;
  top: 0;
  transition: top ease 0.2s;
}

.community-member-item-pic:hover{
  top: -5px;

}

.socs-list-items:hover,.users-list-items:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border:1px solid rgb(177, 176, 176)!important;
  cursor:pointer;
  border-radius: 5px;
  background:rgb(250, 249, 249);
}

.searchbar-nav , .searchbar-nav-forum{
  margin:auto;
  width: 100%;
  border-color: lightgray;
  background-color: rgba(240, 240, 240, 0.5);
  border-style: solid;
  border-width: 1px;
  height:3rem;
  outline: none;
  padding-left: 1rem;
  transition: all .2s;
  transition-delay: .1s;
  border-radius: 5px;
}

.searchbar-nav:focus, .navbar-search:focus{
  transition: 0.2s;
  background:white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.edit-pic-btn{
  width:5vh;
  height:5vh;
  border-radius: 25px;
  border-style: solid;
  border:none;
  outline: none !important;
  background:#1A2E35;
  color: white;
  margin-left: 150px;
}

.edit-pic-txt{
  width:15vh;
  height:4vh;
  border-radius: 25px;
  border-style: solid;
  border:none;
  outline: none !important;
  color: green;
  margin-left: 116px;
}

.commentSection{
  width: 30vh;
  height: 5rem;
  float: left;
  outline: none !important;
  margin: auto;
}