.login-bg{
    height:800px;
    background:white;
    color:white;
    display:flex;
}

/* LOGIN BUTTON */
.login-btn{
    width:30vh;
    height:5vh;
    border-radius: 10px;
    border-style: solid;
    margin-top: 2rem;
    border:none;
    outline: none !important;
    background:#4479ff;
    font-weight: bolder;
    color: white;
  }
.login-btn:hover{
    background:#1d43a3;
    color: white;
}

.register-btn{
    width:30vh;
    height:5vh;
    padding:10px;
    margin-right:10px;
    outline:none!important;
    border:2px solid #1ac521;
    color:white;
    background:#1ac521;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
.register-btn:hover{
    border:2px solid #139118;
    background:#139118;
    color:white;
    font-weight: bold;
    transition: 0.15s;
}

.footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:auto;   /* Height of the footer */
    padding-top:5px;
    color:black;
    text-align:center;
    margin:auto 0;
  }
  
  .footer-column {float: left;padding-left:50px;}
  .footer-items{display:inline-flex; font-size: 12px;}
  .footer-links{color:gray;}
  .footer-links:hover{color:#43609C;}

  .spacing{margin-top: 3rem;}


/* LOGIN PAGE */
.login-card{
    width: 30rem;
    height: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
    margin-top:1rem;
    padding-top: 1rem;
    padding:20px;
    border-radius: 10px;
    text-align: center;
  }