/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.landing-navbar{
    /* background-color:#FFB236!important; */
    color:white!important;
    /* background:#4479ff; */
    /* background:#FFB236; */
    background:white;
    /* border-bottom:thin solid;
    border-bottom-color: thin white!important; */
    display:flex;
    
}

.header-landing{
    color:black!important;
    font-size: 30px;
    font-weight: 1000;
    /* font-family: 'Bodoni Moda', serif; */
    /* font-family: 'Righteous', cursive; */
    display:flex;
    margin-left: 20rem!important;
}

.header-profile{
    color:black!important;
    font-weight: 1000;
    display:flex;
}

.nav-end-landing{
    margin-right: 20rem!important;
}

.landing-name{
    color:gray;
}

.containerLanding{
    height:auto;
    background:white;
    /* background:#FFB236; */
    /* background:#4479ff; */
    /* font-family: 'Righteous', cursive; */
    color:black;
    display:flex;
    padding-bottom: 1px;
    
}

.discussion-post-landing{
    width:800px;
    height:auto;
    background-color:white;
    color:black;
    margin-left:20rem;
    padding:10px;
    text-decoration: none!important;
    border:1px solid white;
  }

.landing-nav-items-landing{
    color:white;
}

.landing-message{
    margin-top:2rem!important;
    font-size: 50px;
    display:flex;
    padding:20px;
    display:flex;
    font-family: 'Righteous', cursive;
    margin-left: 19rem!important;
}

.landing-get-started{
    font-size: 50px;
    background:black;
    color:white;
    width:auto;
    padding:10px;
    font-family: 'Righteous', cursive;
    border:1px solid black;
}

.landing-get-started:hover{
    background-color:white;
    color:black;
    border:1px solid black;
}

.message-container{
    text-align:center;
    margin:auto;
    width:72%;
    display:flex;
}

.landing-link{
    color:black;
    /* font-family: 'Montserrat', sans-serif; */

}

.landing-h1{
    color:black!important;
    font-size: 30px;
    display:flex;
    margin-left: 20rem!important;
}


.socs-list-items-landing{
    padding-top:1rem;
    margin:auto;
    width: 250px;
    height: auto;
    padding:5px;
    color: black;
    background:white;
    margin-top:1.5rem;
    margin-right: 33px;
    padding-bottom:10px;
    transition:0.2s;
    border:1px solid white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.socs-list-items-landing:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border:1px solid rgb(177, 176, 176)!important;
    cursor:pointer;
    background:rgb(250, 249, 249);
  }

.column-three {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px!important;
    width: 75%;
    padding: 15px;
    height: 250px;
    text-align: center;
    margin:auto!important;
    margin-top: 5rem!important;
    margin-left: 6.5rem!important;
    border-radius: 25px;
    padding-top: 60px!important;
    padding-bottom: 60px!important;
    background:white;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.landing-items{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    /* background:#4479ff; */
    background:white;
    padding-bottom: 10rem!important;
}

.landing-title{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Righteous', cursive;
}

.column-four {
    float: left;
    width: 100%;
    padding: 15px;
    height:900px;
    text-align: center;
    padding-top: 60px!important;
    padding-bottom: 60px!important;
    background-color:#f0f2f5;
    color:black;
}

.column-five {
    float: left;
    width: 100%;
    height:auto;
    text-align: left;
    border-top:thin solid black!important;
    padding-top: 60px!important;
    padding-bottom: 60px!important;
    background-color:#caebf2;
    color:black;
}

.column-pic {
    display:flex;
    float: left;
    width: 50%;
    height:600px;
    padding: 15px;
    text-align: center;
    border-top:none!important;
    border-left:thin solid black!important;
    border-bottom:thin solid black!important;
    padding-top: 60px!important;
    padding-bottom: 60px!important;
    background:#66ab8c;
    color:black;
}

.landing-create{
    padding-bottom: 6rem;
    padding-top: 6rem;
    text-align: center;
    font-size: 80px;
    background:white;
    color:black;
    border:thin solid white!important;
    font-family: 'Righteous', cursive;
}

/* Clear floats after the columns */
.row2:after {
    content: "";
    display: table;
    clear: both;
}

.row3:after {
    content: "";
    display: table;
    clear: both;
}

.row4:after {
    width: 100%;
}

.title-landing{
    font-family: 'Montserrat', sans-serif;
}

/* Create three equal columns that floats next to each other */
.columnX {
    float: left;
    width: 50%;
    padding: 15px;
    display:flex;
    text-align: left;
    color:black;
}


.column-two {
    float: left;
    width: 50%;
    text-align: left;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    margin-left: 10rem;
    clear: both;
}

.landing-image{
    width:450px;
    height:auto;
}

.landing-post-title{
    font-size: 25px;
    font-weight: bolder;
}

.muted-landing{
    color:gray;
}


.SocietyLayoutLanding {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin:auto;
    margin-left: 17.5rem;
    margin-right: 20rem;
    text-align: center;
}

/* .justify-content-end{
      margin-right: 20rem;
} */
.spacing-landing{margin-top: 3rem;}
