* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 60%;
    display:flex;
    text-align: left;
    background:#f0f2f5!important;
  }

  .column2 {
    float: left;
    width: 40%;
    padding: 10px;
    background:#f0f2f5!important;
  }

  .columnForum2{
    float: left;
    width: 650px;
    display:flex;
    text-align: left;
    color:black;
    position:fixed;
  }

  .columnForum{
    float: left;
    width: 50%;
    height:100%!important;
    border-left:1px solid whitesmoke;
    margin-left: 42.5rem;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    height:100%!important;

  }

/* Create two equal columns that floats next to each other */
.columnPost {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row2:after {
    content: "";
    display: table;
    clear: both;
  }

.right-col{
  margin-top:100px;
  width:430px;
  margin-left:10px;
}

@media only screen   
and (min-device-width : 320px)   
and (max-device-width : 480px) {
  .column{
    width:50%
  }

  .discussion-post{
    width:100px;
  }

  .column2{
    width:50%
  }
}



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  .menu { margin-left:-15%; }
  .profileDropdwn { margin-left:-8%; }
  .searchFilter{width: 20%; height: 50%;}
  .column{width:65%;}
  .column2{width:35%; margin-top: 20vh;  background:#f0f2f5!important;  }
  .navbar-search{width: 400px;}
  .discussion-post{width: 700px; margin-bottom: 10px; margin-left: 10vh; }
  .contributors-container, .recommended-container{height: 310px; font-size: 16px;width: 80%;}
  .miniProfile{width:50%; height:50%;}
  .profile-name, .location{font-size: 14px;}
  .headshot{height: 50px;}
  .search-div{margin-left: 20vh;}
  .miniprofileCommunities{margin-left: 20vh; width:80%;}
  .containerPostLeft{margin-left: 10vh;}
  .containerPostMiddle{margin-left: 50vh;}
  .post-content{  overflow-wrap: break-word;  }

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  .menu{ margin-left:-25%; }
  .profileDropdwn { margin-left:-20%; }
  .navbar-search{display:none;}

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
    /* CSS */
    .menu{ margin-left:-30%; }
    .profileDropdwn { margin-left:-20%; }
    .navbar-search{display:none;}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  .menu { margin-left:-9%; }
  .profileDropdwn { margin-left:-40%; }
  .column{width:100%}
  .column2{display:none;}
  .discussion-post{width: auto}
  .navbar-search{display:none;}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  .profileDropdwn { margin-left:-30%; }
  .column2{display:none;}
  .navbar-search{display:none;}

}