/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    .search-icon{display:none;}
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    #container{display:none;}

  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    .discussion-post{width:100%;padding:0px;}
    #container{display:none;}
    .link, .navbar-search, .recommended-container, .contributors-container{display:none!important;}
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #container{display:none;}
    .link, .navbar-search, .recommended-container, .contributors-container{display:none!important;}
    .filter-options,.discussion-post, .discussion-container{width: 100%;}
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    #container{display:none;}
    .discussion-post{width:100%;padding:0px;}
    .filter-options,.discussion-post{width: 100%;}
    .link, .navbar-search, .recommended-container, .contributors-container{display:none!important;}
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .link, .navbar-search, .recommended-container, .contributors-container, .container{display:none!important;}
    .filter-options,.discussion-post{width: 100%;}
    #container{display:none;}

  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
   .filter-options, .new-post-feed,.community-profile,.reading-list{width: 100%;}
    .discussion-post{width:100%;padding:0px; border:1px solid white;}
    #container{display:none;} 
    .post-image{max-width: 100%;}
    .container2{display:block;}
  }