.App {
  text-align: center;
  background-color: #FCFCFC;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar{
  width:100%;
  background:white !important;
  box-shadow: 0px 0.5px 0.5px 0px rgba(0,0,0,0.2);
  z-index:999;
}

.dark-mode .navbar{
  background-color: #202124!important;
  color : white!important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  /* color:#27FBBE !important; */
  text-decoration: none;
  font-size: 2.5rem !important;
  font-weight: bolder;
  margin-left: 10rem;
  font-family: 'Righteous', cursive;
}

.mr-auto{
  margin-left: 7rem;
}

.links{
  text-align: center;
  margin:auto ;
  margin-left: 2rem;
  font-size: 1.5rem;
  border-radius: 25px;
  padding:10px;
  color: black!important;
  cursor: pointer;
  text-decoration: none;
}

.links:active{
  color: blue!important;
  text-decoration: none;
  background-color:whitesmoke;
}

.links:hover{
  color:#2b88d8!important;
  padding:10px;
  text-decoration: none;
}

a{
  margin:auto ;
  font-size: 1rem;
  cursor: pointer;
}

.-i-vector-img{
  width:30px;
  height: auto ;
  /* padding-left: 8px; */
  padding-bottom: 6px;
}

.-i-vector-img:hover{
  color:#1869E7;
}

.-i-vector-score{
  width:25px;
  height: auto ;
  color: orangered !important;
  padding-left: 8px;
  padding-bottom: 5px;
}


.sign-up-link{
  font-size: 1.5rem;
}

.links-sub:hover{
  /* color: #27FBBE !important; */
  background:lightblue;
}


.-l-s-club-socs{
  font-size: 15px;
  transition: 0.5s;
}

.-l-s-club-socs:hover{
  /* color: #27FBBE !important; */
  background:#CEECF5 !important;
  transition: 0.5s;
}

.links-sub-java:hover{
  /* color: #27FBBE !important; */
  background:#F7BE81 !important;
  transition: 0.5s;
}

.links-sub-C:hover{
  /* color: #27FBBE !important; */
  background:#659bd3 !important;
  transition: 0.5s;
}

.links-sub-ui:hover{
  /* color: #27FBBE !important; */
  background:#F6CECE !important;
  transition: 0.5s;
}

.new-badge{
  background: #75a9ff !important;
}

.links:hover{
  border-radius: 25px !important;
  background:#F2F2F2;
  transition: 0.5s;
}

.links2{
  font-size: 15px;
  cursor: pointer;
  text-decoration: none !important;
}


.WebImage{
  width: 30rem;
  height: auto;
  margin-top: 5rem;
  margin-left: 40rem;
}

.WebImage2{
  width: 35rem;
  height: auto;
  margin-top: 3rem;
  margin-right: 50rem;
}

.subscribe{
  margin-left: 3rem;
  margin-top: 5rem;
  width: 30rem;
  height: 20rem;
  background: white;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.-c-prof-card{
  border-radius: 5px;
  color: black;
  border: none;
  margin-right: 2rem;
  outline: none !important;
  border-color: gray;
  border-style: solid;
  width: 12rem;
  height: 3rem;
  background-color: white;
  outline: none;
  border-width: 1px;
  border-color: lightgray;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.-c-prof-card:hover{
  background-color: #F2F2F2;
  color: black;
}

.profile-score{
  color: darkorange;
}

/* DARKMODE */
.dark-mode{
  background-color: #202124;
  color : white;
}
.dark-mode p{
  /* background-color: #202124; */
  color : black;
}

.dark-mode #thumb-up{
  color:black;
}

.dark-mode #thumb-down{
  color:black;
}

.dark-mode #left-item-join{
  color:gray;
}

.dark-mode .discussion-container{
  background-color: lightgray!important;
  padding:10px;
  border-radius: 20px;
  color:black;
}

.dark-mode .containerFeedMiddleProfileCell{
  background-color: #202124!important;
  border-radius: 20px;
  color:black;
}

.dark-mode .containerFeedLeftProfileCell{
  background-color: #202124!important;
  border-radius: 20px;
  color:black;

}

.dark-mode .user-profile-about{
  background-color:white;
}

.user-profile-about-social{
  background-color:white;
}

.user-profile-about-social-forum{
  background:whitesmoke;
  border-radius: 10px;
  height:auto;
  width:350px;
  margin:auto ;
  padding:10px;
}

.user-profile-about-bio{
  background-color:white;
}

.discussion-container{
  width:600px;
  background-color:white;
  height:auto;
  text-align: left;
  margin: 0 auto;
  margin-top:20px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  padding:10px;
  border-radius: 10px;
  margin-left:20px;
  margin-bottom: 50px;
}


.dark-mode .post-container{
  background-color: white!important;
  padding:50px;
  width: auto;
  color:black;
  border-radius: 5px;
  margin-bottom: 50px;
}

.dark-mode .-post-header-card{
  display: none;
}

.dark-mode .recommended-item:hover h4{
  background: lightgray;
  color:black;
}

.dark-mode .header{
  background-color: #202124;
  color : white!important;
}

.dark-mode .containerFeedLeft{
  background-color: #202124;
  color : white!important;
}

.dark-mode .containerFeedMiddle{
  background-color: #202124;
  color : white!important;
}

.dark-mode .containerFeedRight{
  background-color: #202124;
  color : white!important;
}

.dark-mode .containerFeedMiddleProfile{
  background-color: #202124;
  color : white!important;
}

.dark-mode .containerFeedLeftProfile{
  background-color: #202124;
  color : white!important;
}

.dark-mode .containerFeedRightProfile{
  background-color: #202124;
  color : white!important;
}

.dark-mode .links{
  color : white!important;
}

.dark-mode .links:hover{
  color:#1869E7!important;
}

.dark-mode .breadcrumb{
  background-color: #202124!important;
  color : white!important;
}

.dark-mode .-post-header-card{
  background-color: #202124!important;
}

.dark-mode .create-a-post{
  border-radius: 25px;
  color:black!important;
}

.dark-mode #standard-full-width{
  background-color: white!important;
  border-radius: 25px;

}

.dark-mode .textfield-create-a-soc{
  background-color: white!important;
}

.dark-mode nav{
  /* background-color: #1b2938; */
}
/* BREADCRUMBS */
.-breadcrumb-setting{
  background: whitesmoke;
  border-radius: 25px;
  height: 3rem;
}
.breadcrumb{
  background-color:white!important;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* DRAWER */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* LOGIN PAGE */

.login-card{
  width: 30rem;
  height: 22rem;
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  margin: auto;
  margin-top: 3rem;
  padding-top: 1rem;
  border-radius: 25px;
  text-align: center;
}

.post-option-btns{
  margin:auto;
  text-align: center;
  margin-top: 40px;
}

.post-option-btn-item{
  /* border-radius: 25px!important; */
  width:100px;
  height:40px;
  margin-left: 10px;
  border:1px black solid;
  outline:none!important;
}

.post-option-btn-item:hover{
  background:black;
  color:white;
}

.create-event-btn{
  width:100px;
  height:40px;
}

#divRight{
  width: 800px;
  float: left;
  margin-top: 4rem;
  margin-left: 15rem;
}

#divLeft{
  width: 600px;
  float: left;
}

.forgot-pw{
  text-align: center;
}

.create-account{
  text-align: center;
}

.fb-login{
  width: 80%;
  height: 50px;
  border-radius: 25px;
  border-color: #43609C;
  border-style: solid;
  outline: none !important;
  background: white;
}

.login-modal{
  margin: auto;
  width: 2000px !important;
}

.fb-login:hover{
  background: #43609C;
  color: white;
}

.google-login{
  width: 80%;
  height: 50px;
  border-radius: 25px;
  border-color: black;
  border-style: solid;
  outline: none !important;
  background: white;
}

.google-login:hover{
  background: black;
  color: white;
}

.spacing{
  margin-top: 1rem;
}

.spacing-home{
  margin-top: 5rem;
}

.footer{
  position:absolute;
  bottom:0;
  width:100%;
  height:auto;   /* Height of the footer */
  padding-top:5px;
  color:black;
  text-align:center;
}

.footer-column {
  float: left;
  padding-left:100px;
}

.footer-items{
  display:inline-block;
}

.footer-links{
  color:gray;
}

.footer-links:hover{
  color:#43609C;
}

.container{
  margin:0;
  padding:0;
  width:100%;
  max-width:auto;
  height:auto;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

#container-mobile{
  display:none;
}

.voting-btn{
  padding:10px;
}

#thumb-up:hover{
  color:green;
}

#thumb-down:hover{
  color:red;
}


/* REGISTER PAGE */
.register-card{
  text-align: center;
  width: 30rem;
  height: 24rem;
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  margin: auto;
  border-radius: 25px;
}

/* SUBSCRIBE BY EMAIL */

.subscribe-card{
  width: 30rem;
  height: 20rem;
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  margin: auto;
  border-radius: 25px;
  margin-right: 40rem;
}

#divRight-sub{
  width: 800px;
  float: left;
  margin-top: 4rem;
  margin-right: 10%;

}

#divLeft-sub{
  width: 600px;
  float: left;
  margin-left: 100px;
}

.sub-btn{
  background-color: yellow;
}

.greeting{
  font-size:5vh;
}

#container{
  width: 100%;
}

#a{
  width: 100%;
  height:90px;
  padding-right: 800px;
  display: inline-block;
}
#b{
  display: inline-block;
  height: 90px;
  width: 100%;
  font-size: 60px;
  padding-left: 60rem;
  margin-bottom: 100px;
}

#ab{
  width: 100%;
  height:90px;
  padding-right: 800px;
  display: inline-block;
}
#ba{
  display: inline-block;
  height: 90px;
  width: 60%;
  padding-left: 60px;
  margin-bottom: 100px;
  display: table;
}
.column {
  float: left;
  width: 19.33%;
  /* padding: 5px; */
  display: inline-block;
  text-align: center;

}

/* LEADERBOARD */
 
 h2 a {
   font-weight: 700;
   text-transform: uppercase;
   text-decoration: none;
 }

 .leaderboard-tab-1{
   width:200PX;
 }

 .leaderboard-tab-2{
  width:200PX;
}

.c-s-header{
  text-align: center;
}
 
 
 .container th h1 {
     font-weight: bold;
     font-size: 1em;
     text-align: left;
     color: white;
 }

 td{
   color: white;
 }

 
 .container {
     text-align: left;
     overflow: hidden;
     width: 80%;
     margin: 0 auto;
   display: table;
   padding: 0 0 8em 0;
 }
 
 .container td, .container th {
     padding-bottom: 2%;
     padding-top: 2%;
     padding-left:2%;  
 }
 
 /* Background-color of the odd rows */
 .container tr:nth-child(odd) {
     background-color: #323C50;
 }
 
 /* Background-color of the even rows */
 .container tr:nth-child(even) {
     background-color: #2C3446;
 }
 
 .container th {
     background-color: #1F2739;
 }
 
 .container td:first-child { color: #FB667A; }


.-l-board-t-setup{
  width: 100px;
  margin: auto;
  background: white;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
  outline:none;
  border-style: none;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */

.-g-col{
}

.-leaderboard-i-list{
  padding-left: 10rem;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.img1{
  margin-top: 5rem;
  width: 800px;
  height: auto;
}

/* DAILY TASKS PAGE */
.python-card{
  padding-top:1rem;
  margin:auto;
  width: 400px;
  height:auto;
  color: black;
  border-radius: 10px;
  background:whitesmoke;
  margin-top:3rem;
  padding-bottom:10px;
  transition:0.2s;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.python-card:hover {
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  transform: translateY(-0.25em);
}

.events-card{
  padding-top:1rem;
  width: 400px;
  height:auto;
  color: black;
  border-radius: 10px;
  background:whitesmoke;
  margin-top:5rem;
  padding-bottom:10px;
  transition:0.2s;
  margin:10px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.create-event-btn{
  margin-top: 20px;
  margin-bottom: 20px;
  width:200px;
  height:50px;
  border-radius: 25px;
  background:white;
  color:black;
  border:1px solid black;
  outline:none!important;
}

.create-event-btn:hover{
  background:black;
  color:white;
}

.events-card:hover {
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  transform: translateY(-0.25em);
}

.users-communities-card{
  padding-top:1rem;
  width: 400px;
  height:auto;
  color: black;
  background:white;
  margin-top:2rem;
  padding-bottom:10px;
  transition:0.2s;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.soc-item-list-join-btn{
  background:whitesmoke;
  border-radius: 25px;
  border-width: 1px;
  outline: none!important;
  border-style: solid;
  width:60px;
  margin: 0; /* remove all margins to fit two divs in the container */
}

.soc-item-list-join-btn:hover{
  background:#1869E7;
  color:white;
}

.soc-item-list-visit-btn:hover{
  background:  #512CB0;
  color:white;

}

.soc-item-list-visit-btn{
  background:whitesmoke;
  border-radius: 25px;
  border-width: 1px;
  outline: none!important;
  border-style: solid;
  width:60px;
  margin-left: 10px; /* remove all margins to fit two divs in the container */
  display: inline-block; /* display block elements in one line */
}

.head-selection{
  margin-top: 5rem;
  color:gray;
}

/* USER PROFILE */

.default-profile-picture{
  width: 200px;
  border-radius: 50%;
}
.avatar-user-card{
  font-size:1rem;
}

.profile-social-icons{
  display: inline-block;
  text-align: center!important;
}

.user-profile-about{
  width: 350px;
  text-align: left;
  height:auto;
  margin-top:50px;
  padding:10px;
  border-style: solid;
  border-width: 1px;
  border-color:lightgray;
  border-radius: 10px;
  padding-right:10px;
}

.user-profile-about-bio{
  width:auto;
  height:auto;
  margin:left;
  margin-top:50px;
  padding:10px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color:lightgray;
  margin-left:20px;
  margin-bottom: 50px;
}

.user-profile-about-social{
  width:auto;
  height:auto;
  margin:left;
  margin-top:50px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  padding:10px;
  border-radius: 10px;
  margin-left:20px;
  margin-bottom: 50px;
  text-align: center;
}

.user-profile-btn-options{
  display: inline-block;
}

.-post-avatar-user-card{
  font-size:1rem;
  display: inline-block;
}

.l-prof-btn-default{
  background:whitesmoke;
  border-radius: 25px;
  margin-left: 3rem;
  font-size: 1rem;
}

.l-prof-btn-default:hover{
  transition: 0.5s;
  background:lightblue;
}
/* DAILY PYTHON */

.daily-card{
  margin:auto;
  width: 400px;
  height:500px;
  border-radius: 25px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.spacing{
  margin-top: 3rem;
}

.copy-to-clipboard{
  display:hidden!important;
}

.btn-copy:hover{
  background:gray;
  border-color: gray;
  color:white;
}

/* EVENTS FEED */
.card2 {
  box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 10px;
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container2 {
  padding: 10px;
  margin-top:50px;
}

.events-header{
  margin-top:50px;
}

/* FEED */

.create-a-post{
  text-align: center;
  margin-top: 5vh!important;
  width:auto;
  border-color: lightgray;
  border-radius: 5px;
  padding:20px;
}

.quick-post-options{
  border-style: none;
  padding:15px;
  border-radius: 50%;
  outline:none!important;
  margin-left:20px;
  color:#1869E7!important;
  background-color: whitesmoke;
}

.miniprofile {
  display: none;
}   

.report-icon{
  color:red;
}

.user-profile-shortlink:hover + .miniprofile{
  display: block;
  color: red;
}

.quick-post-options-forum{
  border-style: none;
  padding:15px;
  border-radius: 50%;
  outline:none!important;
  margin-left:20px;
  color:#6264A7  !important;
  background-color: whitesmoke;
}

.quick-post-options-forum:hover{
  background:#cce3f5;
  color:gray!important;
}

.quick-post-options-image{
  border-style: none;
  padding:15px;
  border-radius: 50%;
  outline:none!important;
  margin-left:20px;
  color:#4e9668 !important;
  background-color: whitesmoke;
}

.quick-post-options-link{
  border-style: none;
  padding:15px;
  border-radius: 50%;
  outline:none!important;
  margin-left:20px;
  color:#964e4e !important;
  background-color: whitesmoke;
}

.quick-post-options-image:hover{
  background:#cce3f5;
  color:gray!important;
}

.quick-post-options:hover{
  background:#cce3f5;
  color:gray!important;
}

.quick-post-options-link:hover{
  background:#cce3f5;
  color:gray!important;
}


.post-container{
  width:auto;
}

.feed-comment{
  cursor:pointer;
  color:black!important;
  /* padding:10px; */
}

.feed-comment:hover{
  color:#1869E7!important;
}

.-post-reply-comment-div{
  margin-top:5px;
  width:auto;
  height:100px;
  background:whitesmoke;
  padding:10px;
  border-radius: 10px;
}

.quick-options{
  width:auto;
  background:whitesmoke;
  padding:50px;
  margin:auto;
  text-align: center;
  border-radius: 25px;
}

.quick-options-container{
  margin-top:3.5rem;
}

.post-reply{
  width:500px;
  margin:left;
  height: auto;
  outline:none;
  cursor: text;
  border-style:none;
  background:whitesmoke;

}

.text-muted-society{
  background-color:#2488d8;
  border-radius: 25px;
  padding:5px;
  font-size:14px;
  color:white;
  font-weight: bold;
}

.text-muted{
  font-size:14px;
}


.-post-footer-card{
  background:white!important;
  border-radius:25px;
}

.post-user-profile{
  display: inline-block;
  cursor: pointer;
  size: 10px;
}

.-post-header-card{
  background:white!important;
  margin:auto;
  width:850px;
}

.feedPost{
  /* border-radius: 10px!important; */
  margin:auto;
  width:auto;
  height:auto;
  border-style:solid!important;
  margin:10px;
}

.description{
  color:lightgray;
}

.global-feed{
  margin-top: 50px;
}

.-user-tag{
  display: inline-block;
  background-color:whitesmoke;
  padding:5px;
  font-size: 1rem;
  border-radius: 25px;
}
.fontPost{

 font-size: 20px;
}

.post-form{
  border-radius: 10px!important;
}


.containerFeedLeft{
  width: 20%;
  margin-top: 8vh;
  height: 100rem;
  outline: none !important;
  background-color: none!important;
  float: left;
  border-radius: 25px;
  text-align: center;
  margin-left: 5rem;

}

.containerFeedLeftProfile{
  width: 1%;
  height: 10rem;
  outline: none !important;
  float: left;
  border-radius: 25px;
  text-align: center;
  margin-top:10rem;
}

.containerFeedMiddleProfile{
  margin-top: 10vh;
  width: 20%;
  height: auto;
  outline: none !important;
  float: left;
  border-radius: 25px;
  text-align: center;
  margin-left: 10rem;
}

.containerFeedRightProfile{
  width: 50%;
  height: auto;
  outline: none !important;
  float: left;
  border-radius: 25px;
  text-align: center;
  margin-top:7.5rem;
}

.containerFeedLeftCommunity{
  width: 20%;
  height: 10rem;
  outline: none !important;
  float: left;
  border-radius: 25px;
  text-align: center;
  margin-left: 11rem;
}

.containerFeedMiddleCommunity{
  width: 60%;
  height: 10rem;
  outline: none !important;
  border-radius: 25px;
  margin-top:10rem;
  margin-left: 30rem;
}

.containerAccountSettingsMiddle{
  width: 10%;
  height: 10rem;
  outline: none !important;
  float: left;
  border-radius: 25px;
  text-align: center;
  margin-top:7rem;
  margin-left: 30rem;
}

.containerAccountSettingsRight{
  width: 1%;
  height: 10rem;
  outline: none !important;
  float: left;
  border-radius: 25px;
  text-align: center;
  margin-top:7rem;
  margin-left: 5rem;
}

.settings-btn-save{
  width:150px;
  height:50px;
  border-radius: 25px;
  border:1px solid black;
  background:black;
  color:white;
}

.settings-btn-save:hover{
  background:white;
  color:black;
}

.user-bio{
  color:gray;
}

.settings-btn-cancel{
  margin:10px;
  width:150px;
  height:50px;
  border-radius: 25px;
  border:1px solid black;
  background:black;
  color:white;
}

.settings-btn-cancel:hover{
  background:white;
  color:black;
}

.settings-welcome{
  width:200px;
}

.containerFeedRightCommunity{
  width: 1%;
  height: 10rem;
  outline: none !important;
  float: left;
  border-radius: 25px;
  text-align: center;
  margin-top:7rem;
  margin-left: 5rem;
}

.containerFeedLeftForum{
  width: 20%;
  height: 10rem;
  outline: none !important;
  float: left;
  border-radius: 25px;
  text-align: center;
  margin-left: 180px;
  margin-top:7rem;
}

.containerFeedMiddleForum{
  width: 60%;
  height: auto;
  outline: none !important;
  background-color: rgb(255, 255, 255);
  float: left;
  border-radius: 25px;
  text-align: center;
  margin-top:7rem;
}

.containerFeedLeftProfileCell{
  width: 35%;
  height: 1rem;
  outline: none !important;
  float: left;
  text-align: left;
}

.containerFeedMiddleProfileCell{
  width: 55%;
  height: auto;
  outline: none !important;
  background-color: rgb(255, 255, 255);
  float: left;
  border-radius: 25px;
  text-align: center;
}

.containerFeedRightProfileCell{
  width: 25%;
  height: auto;
  outline: none !important;
  background-color: rgb(255, 255, 255);
  float: left;
  border-radius: 25px;
  text-align: center;
}


.profile-card{
  background:whitesmoke;
  border-radius: 10px;
  height:auto;
  width:350px;
}

.community-card{
  background:white;
  border:1px lightgray solid;
  border-radius: 10px;
  height:auto;
  width:350px;
}


.profile-card-forum{
  background:whitesmoke;
  border-radius: 10px;
  height:auto;
  width:350px;
  margin:auto ;
  margin-top:20px;
  position:fixed!important;
}

.profile-mini{
  display: none;
}

.profile-card-forum:hover + .profile-mini{
  display:block;
}

.showme {
  display: none;
}

.forum-options-btn{
  width:150px;
  height:auto;
  padding:10px;
  border-radius: 25px;
  outline:none!important;
  background:white;
  color:black;
  border:1px black solid;
  margin-right:10px;
}

.forum-options-btn:hover{
  background:black;
  color:white;
}
.showhim:hover .showme {
  display: block;
}


.profile-card-society{
  background:whitesmoke;
  border-radius: 10px;
  height:auto;
  width:350px;
  margin:auto ;
  margin-top:320px;
  position:fixed!important;
}

.forum-profile-card{
  background:whitesmoke;
  border-radius: 10px;
  height:100px;
  width:350px;
  margin:auto ;
  text-align: center;
  vertical-align:middle;
}

.profile-card-username{
  margin-top:5vh;
}

.create-post-btn-submit{
  width:10vh;
  margin:0 auto;
  height:5vh;
  border-radius: 25px;
  border-style: solid;
  border:none;
  outline: none !important;
  background:#2b88d8;
  color: white;
  margin-top: 10px;
}
.create-post-btn-submit:hover{
  color:black;
  background:#deecf9;
}

.dark-mode .feed-option-redirects{
  color:white;
}

.dark-mode .option-container:hover{
  color:black;
}


.feed-option-redirects{
  color: black;
}

.feed-option-redirects:hover{
  text-decoration: none!important;
}

.feed-option-redirects-username{
  color:#2b88d8;
}

.feed-option-redirects-username:hover{
  text-decoration: none;
}

.feed-option-redirects:active{
  color:#2b88d8!important;
  background:whitesmoke;
}


.create-post-discussion-btn-submit{
  width:15vh;
  height:5vh;
  border-radius: 25px;
  border-style: solid;
  border:none;
  outline: none !important;
  background:#1869E7;
  color: white;
}
.create-post-discussion-btn-submit:hover{
  color:black;
  background:whitesmoke;
}

.create-post-btn-submit-category{
  margin:10px;
  border-radius:25px;
  height:40px;
  width:150px;
  outline: none!important;
  border-style: solid;
  background:white;
  color:black;
  border-width: 1px;
  transition: 0.2s;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.create-post-btn-submit-category:hover{
  color:black;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.containerFeedMiddle{
  margin-top: 12vh;
  width: 40%;
  height: auto;
  outline: none !important;
  float: left;
  margin-left: 5rem;
  padding-bottom: 10rem;
  /* border-color:lightgray; */
  border-style: none; 
  border-width: 0.1px;

}

.containerForumMiddle{
  margin-top: 20vh;
  width: 40%;
  height: auto;
  outline: none !important;
  float: left;
  margin-left: 5rem;
  padding-bottom: 10rem;
  /* border-color:lightgray; */
  border-style: none; 
  border-width: 0.1px;
}

.containerFeedRight{
  margin-top: 18vh;
  width: 25%;
  height: 50vh;
  outline: none !important;
  float: right;
}

.-recommended-hr-style{
  width:300px;
}

.explore-more-link{
  margin-top:50px;
}

.recommended-chip{
  height:auto;
  width:auto;
  margin-top: 5vh;;
}

.recommended-chip-item{
  height:auto;
  width:auto;
  margin:5px!important;
  font-size:1rem!important;
  border-radius: 10px!important;
}

.contributors-container{
  margin-top:50px;
  padding:10px;
  width:300px;
  background-color:white;
  border-radius: 10px;
  border:solid 1px lightgray;
}

.feed-options-container{
  margin-top:100px;
  height:auto;
  width:400px;
  float: left;
  text-align: left;
  margin-left: 5rem;
  position: fixed!important;
  background-color:none!important;
}

.user-profile-container{
  background: whitesmoke;
  padding:10px;
  border-radius: 10px;
}

.option-container{
  padding:10px;
  margin-left: 5px;
}

.option-container:hover{
  background: whitesmoke;
  padding:10px;
  border-radius: 10px;
}
.feed-options-item{
  width:auto;
  padding:10px;
  height:auto;
  border-radius: 5px;
  float: left;
}

.settings-options-item{
  width:200px;
  padding:10px;
  height:auto;
  border-radius: 5px;
  text-align: left!important;
  margin-left:1rem;
}

.-top-cont-header-leaderboard{
  text-align:center;
  font-size:4rem;
}

.contributor-item-community{
  margin:auto;
  margin-top:50px;
  padding:10px;
  height:auto;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.contributor-item{
  width:280px;
  padding:10px;
  height:auto;
  border-radius: 5px;
}

.-contributor-user{
  margin-left:50px;
}

.-contributor-user-score{
  left:50px!important;
}

.-top-cont-header{
  margin-bottom:30px!important;
  color:gray;
}

.-recommended-header{
  color:gray;

}



#right-item-join{
  background:whitesmoke;
  border-radius: 25px;
  border-width: 1px;
  outline: none!important;
  border-style: solid;
  width:60px;
  margin-left: 10px; /* remove all margins to fit two divs in the container */
  display: inline-block; /* display block elements in one line */
}

#right-item-join-username{
  margin-bottom: 10px;
  width:110px;
  margin-left: 10px; /* remove all margins to fit two divs in the container */
  display: inline-block; /* display block elements in one line */
}

#left-item-join-username{
  margin: 0px; /* remove all margins to fit two divs in the container */
  display: inline-block; /* display block elements in one line */
}

#right-item-join:hover{
  background:#1869E7;
  color:white;
}

#left-item-join{
  margin: 0px; /* remove all margins to fit two divs in the container */
  display: inline-block; /* display block elements in one line */
}

.see-all-item{
  padding:10px; 
}

.recommended-item{
  width:200px;
  padding:5px;
  border-radius: 10px;
  font-size: 15px;
  text-align: left;
  margin-top: 10px;
  margin:auto;
}

.recommended-item:hover{
  background:whitesmoke;
}

.recommended-item-a{
  text-decoration: none!important;
}

.dark-mode .accordion-cs{
  background:none!important;
}

.dark-mode .accordion-title{
  color:white;
}

.dark-mode .accordion-title:hover{
  color:black!important;
}

.accordion-cs{
  background:#FCFCFC!important;
  border-style:none!important;
  box-shadow:none!important;
  text-align: left;
}

.recommended-container{
  border: solid 1px lightgray;
  background: white;
  padding:10px;
  width:250px;
  border-radius: 10px;
}

.discussion-post{
  width:auto;
  height:auto;
  background-color:white;
  color:black;
  padding:10px;
  border-color: lightgray;
  text-decoration: none!important;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.discussion-post:hover{
  background-color:whitesmoke;
  transition:0.1s;
  text-decoration: none!important;
}

.discussion-post-redirect{
  text-decoration: none!important;
}

.post-field{
  width: 55vh;
  height:20vh;
}

.FeedLayout{
  width: 60vh;
  height: 20rem;
  border-style: solid;
  border-radius: 25px;
  border-color: rgb(0, 11, 160);
  outline: none !important;
  margin: auto;
}

/* SOCIETY LIST */
.-soc-l-navigation{
  color:black;
}

.-soc-l-navigation:hover{
  color:black;
  text-decoration: none ;
}


.anchor{
  text-align: center;
}
.post-btn{
  width:30vh;
  height:5vh;
  border-radius: 25px;
  border-style: solid;
  border:none;
  outline: none !important;
  background:#1A2E35;
  color: white;
  margin-top: 5vh;
}
.post-btn:hover{
  background:#27444e;
  color: white;
}


.react-calendar__month-view__weekdays {
  color: rgb(105, 105, 105);
}

.react-calendar__navigation button {
  font-size: 1em;
}
.Calender{

  margin: auto;
}

.App-mobile{
  display: none;
}



.userPicture{
  width: 3rem;
  height: 3rem;
  margin-right: 50rem;
  margin-top: 10rem;
}

.LikeButton{

float: left;
width: 5rem;
padding-top: 10rem;
padding-left: 4rem;
}

.CommentBox{

  float: left;
  width: 20rem;
  padding-left: 5rem;


}

/* DESKTOP RESPONSIVE */

.container-mobile{
  display: none;
}


/* MOBILE RESPONSIVE */

@media only screen and (max-width: 600px) {
 
}

#popover-basic{
  background-color: white !important;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}


.popover-content{
  font-size: large;
  color:#2E2E2E !important;
}

/* HOVER ON NAVBAR DROPDOWN */
.nav-item.dropdown:hover .dropdown-menu {
  display: block !important;
}

.navbar-prof-btn{
  margin-right:10rem;
}

.compose-post-navbar{
  background-color:whitesmoke;
  color:black;
  padding:10px;
  border-radius:25px;
  border-style: none;
  outline:none!important;
}

.compose-post-navbar:hover{
  background:lightgray;
  color:black;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  font-size: 20px;
  position: absolute;
  background:#F2F2F2;
  min-width: 230px;
  box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left:5px;
  text-align: left;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none!important;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


.Signed-in-as{
  font-size: 1rem;
  margin-right: 2vh;
}


/* SEARCH BAR */
.search-div{
  text-align:center !important;
  padding-top:100px;
}

.search-div-forum{
  text-align:left !important;
  padding-top:20px;

}

.forum-title{
  text-align: left;
}

.forum-follow{
  text-align: right;
}

.searchbar{
  width: 20rem;
  height:3rem;
  border-radius: 25px;
  border-style: solid;
  border-color: gray;
  outline: none !important;
  cursor: pointer;
}

/* CREATE A SOC */
.create-a-soc{
  margin:auto;
  width:400px;
  margin-top:5rem;
}

.-c-list-options{
  width:200px !important;
  height: 50px!important;
  border-color: gray!important;
  border-radius: 5px;
}

.submit-soc{
  width:30vh;
  height:5vh;
  border-radius: 25px;
  border-style: solid;
  border:none;
  outline: none !important;
  background:#1A2E35;
  color: white;
}
.submit-soc:hover{
  background:#27444e;
  color: white;
}

.forum-title:hover{
  color:blue;
}

.socs-options-btns{
  margin:auto!important;
  text-align:center !important;
  padding-top:5rem!important;
}
.accordion-cs:hover{
  background: whitesmoke!important;
  border-radius: 10px!important;
}


.socs-options-btns{
  margin:auto!important;
  text-align:center !important;
  margin-top:10px!important;
}

.trending-soc{
  width:15vh;
  height:5vh;
  border-radius: 25px;
  border-style: solid;
  border:none;
  outline: none !important;
  background:#1A2E35;
  color: white;
  margin:10px;
}
.trending-soc:hover{
  background:#27444e;
  color: white;
}
.textfield-create-a-soc{
  width:40vh;
}
.create-soc-div{
  text-align:center;
}

/* LOGIN TEXTBOXES */

.textfield-pw{
  width: 40vh;
}
.textfield-name{
  width: 40vh;
}
.textfield-email{
  width: 40vh;
}
.login-btn{
  width:30vh;
  height:5vh;
  border-radius: 25px;
  border-style: solid;
  border:none;
  outline: none !important;
  background:#1A2E35;
  color: white;
}
.login-btn:hover{
  background:#27444e;
  color: white;
}

/* REGISTER BUTTON */
.register-btn{
  width:30vh;
  height:5vh;
  border-radius: 25px;
  border-style: solid;
  border:none;
  outline: none !important;
  background:#1A2E35;
  color: white;
}
.register-btn:hover{
  background:#27444e;
  color: white;
}

/* USER PROFILE */
/* USER PROFILE */

.follow-btn{
  width:auto;
  padding:10px;
  margin-bottom:1rem;
}

.follow-btn:hover{
  background:lightgray;
  color:black;
}

.user-image{
  margin-top:1rem;
  width:171px;
  height:180px;
  /* float: left; */
  text-align: center;
}

.user-score{
  background:#cce3f5;
  font-size:20px;
  padding:5px;
  border-radius: 5px;
}

.user-score-post{
  background:#cce3f5;
  font-size:10px;
  padding:5px;
  border-radius: 5px;
}

.user-details{
  background:#cce3f5;
  font-size:15px;
  padding:5px;
  border-radius: 5px;
}

.user-details-views{
  background:lightgreen;
  font-size:15px;
  padding:5px;
  border-radius: 5px;
}

.user-score-post-tag{
  background:#cce3f5;
  font-size:10px;
  padding:5px;
  border-radius: 5px;
}


.user-score-prof-btn{
  background:#cce3f5;
  font-size:15px;
  border-radius: 5px;
  margin: 0px;
  padding:8px;
  margin-left: 10px;
  display: inline-block;
}

.forum-btn-wrapper-left{
  width:600px;
  display: inline-block;
  float: left;  
}


.forum-follow-btn{
  background:none;
  font-size:15px;
  border:1px solid;
  padding:8px;
  margin-left: 10px;
  display: inline-block;
}

.forum-item-title{
  width:100%;
}

.forum-follow-btn:hover{
  color:white;
  background:blue;
}

.profile-btn-wrapper-left{
  display: inline-block;
  float: left;  
}

.post-links-options:hover{
  background:#cde3fd;
  padding:5px;
  margin:auto;
  width:auto;
  border-radius: 25px;
}

.edit-profile-form{
  width:500px;
  height:auto;
  text-align: left;
  margin-top:2rem;
}

.edit-profile-btn{
  width:50px;
  padding:5px;
  margin-bottom:15px;
  height:auto;
  border-style:none;
  border-radius:25px;
  background-color:none;
  outline: none!important;
  color:#2488d8;
}

.edit-profile-btn:hover{
  background:#deecf9;
  color:black;
}

.u-prof-stats{
  width:200px;
}

.username-wrapper{
  display: inline-block !important; /* display block elements in one line */
  font-size: 1rem!important;
}

.avatar-wrapper-left{
  display: inline-block;
}

#social-user {
  margin:10px;
  color:black;
  /* text-align: center; */
}

.stats-wrapper{
  display: inline-block !important; /* display block elements in one line */
  font-size: 1.5rem!important;
}

.stats-wrapper-left{
    margin: 10px;
    display: inline-block;
    font-size: 1.5rem!important;
}

.user-status{
  background:whitesmoke;
  width:300px;
  height:40px;
  border-radius: 25px;
  margin: auto;
  box-shadow: 0px 1px 2px rgb(0,0,0,0.2);
  text-align: center;
}
.user-profile{
  text-align: center;
}

.stars{
  color: darkorange;
}

.score{
  font-weight: bolder;
}

.profile-cards{
  margin:auto !important;
  text-align: center;

}
.row-profile{
  margin:auto !important;
  text-align: center;

}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  /* z-index: 1; */
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color:white ;
}

.right {
  right: 0;
}

.right2{
  right: 0;
  background-color:#F0F0F0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.intro{
  width:auto;
  height:auto;
}

.welcome{
  width:90vh;
  height:auto;
  margin-right:8rem;
}

.welcome-intro{
  font-size:auto;
  width:auto;
  text-align: left;
}
.SocietyLayout {
  width:50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin:auto;
  text-align: center;
}

.ForumLayout {
  text-align: center;
  margin:left;
}

.UsersSocietyLayout {
  text-align: center;
}

.EventSocietyLayout{
  width:50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}


.featured-forums{
  margin-top:3rem;
}

.forum-option{
  background:whitesmoke;
  width:auto;
  padding:20px;
  height:auto;
  margin-top: 10px;
  border:1px solid lightgray;
}

.socs-list-items{
  padding-top:1rem;
  margin:auto;
  width: 200px;
  height:auto;
  color: black;
  border-radius: 10px;
  background:white;
  margin-top:3rem;
  padding-bottom:10px;
  transition:0.2s;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.socs-list-items:hover {
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  transform: translateY(-0.25em);
}
/* SEARCHBAR */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.c-btn-s {
  width: 25rem;
  height: 100%;
  margin: 0 1rem;
  position: relative;
}


.searchbar-nav {
  margin:auto;
  width: 27rem;
  border-radius:25px;
  border-color: lightgray;
  background:  white;
  border-style: solid;
  border-width: 1px;
  height:3.3rem;
  outline: none;
  padding-left: 1rem;
  transition: all .2s;
  transition-delay: .1s;
  box-shadow: 0px 1px 2px rgb(0,0,0,0.2);
}
.searchbar-nav:hover {
  background: white;
}

.searchbar-nav-forum{
  width: 27rem;
  border-color: lightgray;
  background:  white;
  border-style: solid;
  border-width: 1px;
  height:3.3rem;
  outline: none;
  padding-left: 1rem;
  transition: all .2s;
  transition-delay: .1s;
  box-shadow: 0px 1px 2px rgb(0,0,0,0.2);
}

.searchbar-navbar {
  margin-left: 5rem;
  width: 27rem;
  border-radius:25px;
  border-color: lightgray;
  background:  white;
  border-style: solid;
  border-width: 1px;
  height:3.3rem;
  outline: none;
  padding-left: 1rem;
  transition: all .2s;
  transition-delay: .1s;
  box-shadow: 0px 1px 2px rgb(0,0,0,0.2);
}
.searchbar-navbar:hover {
  background: white;
}

.filterBox{
  margin:10px;
  width: 10rem;
  font-size: large;
  border-radius:25px;
  padding-left: 1rem;
  cursor: pointer;
  border-color: lightgray;
  height: 3rem;
  outline: none!important;
  transition: 0.2s;
  box-shadow: 0px 1px 2px rgb(0,0,0,0.2);
}


/* SOCIAL LINKS */
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

#social {
  margin: 20px 10px;
  color:black;
  /* text-align: center; */
}

/* PROFILE URLS */
.dropbtn2 {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown2 {
  position: relative;
  display: inline-block;
  padding-left:10px;
  padding-bottom: 10px!important;
}

.dropdown-content2 {
  text-align: left;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none!important;
  display: block;
}

.dropdown-content2 a:hover {background-color: #ddd;}

.dropdown2:hover .dropdown-content2 {display: block;}

.dropdown2:hover .dropbtn2 {background-color: #3e8e41;}


.dropbtn3 {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  font-size: 16px;
  border: none;
}

.dropdown3 {
  position: relative;
  display: inline-block;
  padding-left:10px;
  padding-bottom: 10px!important;
  transition: all .4s ease;
-webkit-transition: all .4s ease;
}

.dropdown-content3 {
  text-align: left;
  display: none;
  position: absolute;
  background-color: white;
  border:1px solid lightgray;
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: all 1s linear;

}

.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none!important;
  display: block;
}

.dropdown3:hover .dropdown-content3 {
  display: block; 
  transition: all 1s linear;
}


.prof-li-dropdown{
  margin-left: 10rem!important;
}


.smGlobalBtn{ /* global button class */
    display: inline-block;
    margin:5px;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 1px #999;
    padding: 0px;
    text-decoration: none!important;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
}

/* facebook button class*/
.copyBtn{
  background: white;
  color: gray;
}

.copyBtn:before{ /* use :before to add the relevant icons */
  font-family: "FontAwesome";
  /* content: "\f01b"; add facebook icon */
}

.copyBtn:hover{
  color: black;
  background: #fff;
}

/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
}

/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */
}

.twitterBtn:hover{
      color: #00ABE3;
      background: #fff;
}

/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
      color: #0094BC;
      background: #fff;
}

.mentionBox{

  color: #0094BC;
  background: rgb(255, 255, 255);
  border-radius:25px;
  float: right;
  vertical-align: auto;
}

/* INFORMATION PAGE */
.society-header-name{
  margin-top: 50px;
  font-size: 60px;
}

.information-container{
  align-items: center!important;
  padding-top:10rem;
}

.containerInformationMiddle{
  width: 100%;
  text-align: center;
}

.member-count{
  padding:10px;
  width:auto !important;
  margin:auto;
  height: auto;
  text-align: left;
}

.community-copy-link{
  width:auto;
}

.community-copy-link:hover{
  background:whitesmoke;
  border-radius: 25px;
  cursor: pointer;
  color:#1869E7;
}

.community-button-join{
  width:100px;
  height:40px;
  margin-bottom: 10px;
}

.community-button-join:hover{
  background:white;
  color:black;
}

.soc-item-list-join-btn-info{
  background:#1869E7;
  color:#fff;
  border-radius: 25px;
  border-width: 1px;
  outline: none!important;
  border-style: solid;
  width:100px;
  font-size: 1.5rem;
}

.soc-item-list-join-btn-info:hover{
  background:whitesmoke;
  color:black;
}

.userPosts{
  float: left;
  width: 40rem;
  text-align: left;
}


