.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  /* background-color: #01033E */
  background-color: whitesmoke
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tasq{
  color:#27FBBE !important;
  text-decoration: none;
  font-size: 5rem !important;
  font-weight: bolder;
  margin-left: 3rem;
}

.mr-auto{
  margin-left: 7rem;
}

.links{
  margin-left: 3rem;
  font-size: 1.5rem;
}

.links2{
  font-size: 15px;
}


.WebImage{
  width: 30rem;
  height: auto;
  margin-top: 5rem;
  margin-left: 40rem;
}

.WebImage2{
  width: 50rem;
  height: auto;
  margin-top: 3rem;
  margin-right: 50rem;
}

.subscribe{
  margin-left: 3rem;
  margin-top: 5rem;
  width: 30rem;
  height: 20rem;
  background: white;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.btn-profile{
  border-radius: 35px;
  font-weight: 500;
  background-color: white;
  color: black;
  border: none;
  margin-right: 2rem;
  outline: none !important;
  width: 8rem;
  height: 4rem;
  background-color: #27FBBE;
  outline: none;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.btn-profile:hover{
  background-color: gray;
  color: white;

}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


/* LOGIN PAGE */

.login-card{
  width: 30rem;
  height: 37rem;
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  margin: auto;
  margin-top: 1rem;
  border-radius: 25px;
  margin-right: 40rem;
}

#divRight{
  width: 800px;
  float: left;
  margin-top: 4rem;
  margin-left: 15rem;
}

#divLeft{
  width: 600px;
  float: left;

}

.auth-options{
  margin-top: 60px;
  overflow: hidden;
}

.forgot-pw{
  float: left;
}

.create-account{
  margin-bottom: 5px;
  float: right;
}

.fb-login{
  width: 80%;
  height: 50px;
  border-radius: 25px;
  border-color: #43609C;
  border-style: solid;
  outline: none !important;
  background: white;
}

.fb-login:hover{
  background: #43609C;
  color: white;
}

.google-login{
  width: 80%;
  height: 50px;
  border-radius: 25px;
  border-color: black;
  border-style: solid;
  outline: none !important;
  background: white;
}

.google-login:hover{
  background: black;
  color: white;
}

.spacing{
  margin-top: 1rem;
}

.spacing-home{
  margin-top: 5rem;
}

.footer{
  height: 5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.container{
  margin:0;
  padding:0;
  width:100%;
  height:400px;
  display: flex;
  justify-content: space-evenly;
}


/* REGISTER PAGE */
.register-card{
  width: 30rem;
  height: 42rem;
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  margin: auto;
  border-radius: 25px;
  margin-right: 40rem;
}


/* SUBSCRIBE BY EMAIL */

.subscribe-card{
  width: 30rem;
  height: 20rem;
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  margin: auto;
  border-radius: 25px;
  margin-right: 40rem;
}

#divRight-sub{
  width: 800px;
  float: left;
  margin-top: 4rem;
  margin-right: 10%;

}

#divLeft-sub{
  width: 600px;
  float: left;
  margin-left: 100px;
}

.sub-btn{
  background-color: yellow;
}

.greeting{
}

#container{
  width: 100%;
}

#a{
  width: 100%;
  height:90px;
  padding-right: 800px;
  display: inline-block;
}
#b{
  display: inline-block;
  height: 90px;
  width: 60%;
  font-size: 60px;
  padding-left: 600px;
  margin-bottom: 100px;
}

.img1{
  margin-top: 5rem;
  width: 800px;
  height: auto;
}

.get-started-btn{
  margin-left: 38rem;
  width: 130px;
  height: 50px;
  border-radius: 25px;
  border-style: solid;
  border-color: #512CB0;
  background: #512CB0;
  color: white;
  outline: none !important;
  cursor: pointer;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  font-weight: 500;
}

.get-started-btn:hover{
  background: gray;
  color: black;
  border-color: gray;
  font-weight: 500;
}

/* DAILY TASKS PAGE */
.python-card{
  padding-top:3rem;
  margin:auto;
  width: 300px;
  height:150px;
  color: black;
  border-radius: 10px;
  background:whitesmoke;
  margin-top:3rem;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.python-card:hover {
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  transform: translateY(-0.25em);
}


.head-selection{
  margin-top: 5rem;
  color:gray;
}

/* USER PROFILE */

.default-profile-picture{
  width: 200px;
  border-radius: 50%;
  /* border-style: solid; */
  /* border-color: lightgray; */
}

/* DAILY PYTHON */

.daily-card{
  margin:auto;
  width: 400px;
  height:500px;
  border-radius: 25px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.spacing{
  margin-top: 3rem;
}

.btn-copy{
  margin-top: 15rem;
  width:100px;
  height:50px;
  border-radius:35px;
  border-style: solid;
  outline:none !important;
  background: #512CB0;
  border-color: #512CB0;
  color:white;
}

.btn-copy:hover{
  background:gray;
  border-color: gray;
  color:white;
}


.containerFeedLeft{
  width: 25%;
  height: 100rem;
  outline: none !important;
  background-color: rgb(148, 148, 148);
  float: left;
  border-radius: 25px;
  border-color: black;
  border-style: solid;

}


.containerFeedMiddle{
  width: 60%;
  height: 100%;
  outline: none !important;
  background-color:rgb(255, 255, 255);
  float: left;
  padding-bottom: 10rem;
  border-radius: 25px;
  border-color: black;
  border-style: solid;

}

.containerFeedRight{
  width: 15%;
  height: 100rem;
  outline: none !important;
  float: right;
  background-color: #27FBBE;
  border-radius: 25px;
  border-color: black;
  border-style: solid;


}

.FeedLayout{
  width: 50%;
  height: 20rem;
  border-style: solid;
  border-radius: 25px;
  border-color: black;
  outline: none !important;
  margin: auto;

}



.userPicture{
  width: 3rem;
  height: 3rem;
  margin-right: 50rem;
  margin-top: 10rem;
}

.LikeButton{

float: left;
width: 5rem;
padding-top: 10rem;
padding-left: 4rem;
}

.CommentBox{

  float: left;
  width: 20rem;
  padding-left: 5rem;


  }