.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  /* background-color: #01033E */
  background-color: whitesmoke
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  /* color:#27FBBE !important; */
  text-decoration: none;
  font-size: 4rem !important;
  font-weight: bolder;
  margin-left: 3rem;
  font-family: 'Righteous', cursive;
}

.mr-auto{
  margin-left: 7rem;
}

.links{
  margin-left: 3rem;
  font-size: 1.5rem;
}


.sign-up-link{
  font-size: 1.5rem;
}

.links-sub:hover{
  /* color: #27FBBE !important; */
  background:lightblue;
}

.links-sub-python:hover{
  /* color: #27FBBE !important; */
  background:#CEECF5 !important;
  transition: 0.5s;
}

.links-sub-java:hover{
  /* color: #27FBBE !important; */
  background:#F7BE81 !important;
  transition: 0.5s;
}

.links-sub-C:hover{
  /* color: #27FBBE !important; */
  background:#659bd3 !important;
  transition: 0.5s;
}

.links-sub-ui:hover{
  /* color: #27FBBE !important; */
  background:#F6CECE !important;
  transition: 0.5s;
}

.new-badge{
  background: #75a9ff !important;
}

.links:hover{
  color: black !important;
  border-radius: 5px;
  background:#F2F2F2;
  transition: 0.5s;
}

.links2{
  font-size: 15px;
}


.WebImage{
  width: 30rem;
  height: auto;
  margin-top: 5rem;
  margin-left: 40rem;
}

.WebImage2{
  width: 35rem;
  height: auto;
  margin-top: 3rem;
  margin-right: 50rem;
}

.subscribe{
  margin-left: 3rem;
  margin-top: 5rem;
  width: 30rem;
  height: 20rem;
  background: white;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.btn-profile{
  border-radius: 5px;;
  color: black;
  border: none;
  margin-right: 2rem;
  outline: none !important;
  border-color: gray;
  border-style: solid;
  width: 12rem;
  height: 3rem;
  background-color: white;
  outline: none;
  border-width: 1px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.btn-profile:hover{
  background-color: gray;
  color: white;
}

.profile-score{
  color: darkorange;
}

.breadcrumb{
  background-color:white!important;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


/* LOGIN PAGE */

.login-card{
  width: 30rem;
  height: 24rem;
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  margin: auto;
  margin-top: 1rem;
  padding-top: 1rem;
  border-radius: 25px;
  margin-right: 40rem;
  text-align: center;
}

#divRight{
  width: 800px;
  float: left;
  margin-top: 4rem;
  margin-left: 15rem;
}

#divLeft{
  width: 600px;
  float: left;
}

.forgot-pw{
  text-align: center;
}

.create-account{
  text-align: center;
}

.fb-login{
  width: 80%;
  height: 50px;
  border-radius: 25px;
  border-color: #43609C;
  border-style: solid;
  outline: none !important;
  background: white;
}

.login-modal{
  margin: auto;
  width: 2000px !important;
}

.fb-login:hover{
  background: #43609C;
  color: white;
}

.google-login{
  width: 80%;
  height: 50px;
  border-radius: 25px;
  border-color: black;
  border-style: solid;
  outline: none !important;
  background: white;
}

.google-login:hover{
  background: black;
  color: white;
}

.spacing{
  margin-top: 1rem;
}

.spacing-home{
  margin-top: 5rem;
}

.footer{
  height: 5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.container{
  margin:0;
  padding:0;
  width:100%;
  max-width:700px;
  height:400px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

#container-mobile{
  display:none;
}


/* REGISTER PAGE */
.register-card{
  text-align: center;
  width: 30rem;
  height: 24rem;
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  margin: auto;
  border-radius: 25px;
  margin-right: 40rem;
}

/* SUBSCRIBE BY EMAIL */

.subscribe-card{
  width: 30rem;
  height: 20rem;
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  margin: auto;
  border-radius: 25px;
  margin-right: 40rem;
}

#divRight-sub{
  width: 800px;
  float: left;
  margin-top: 4rem;
  margin-right: 10%;

}

#divLeft-sub{
  width: 600px;
  float: left;
  margin-left: 100px;
}

.sub-btn{
  background-color: yellow;
}

.greeting{
  font-size:5vh;
}

#container{
  width: 100%;
}

#a{
  width: 100%;
  height:90px;
  padding-right: 800px;
  display: inline-block;
}
#b{
  display: inline-block;
  height: 90px;
  width: 100%;
  font-size: 60px;
  padding-left: 60rem;
  margin-bottom: 100px;
}

#ab{
  width: 100%;
  height:90px;
  padding-right: 800px;
  display: inline-block;
}
#ba{
  display: inline-block;
  height: 90px;
  width: 60%;
  padding-left: 60px;
  margin-bottom: 100px;
  display: table;
}

/* #nav-dropdown{
  display: inline-block;
  width: 1000px !important;
} */

.column {
  float: left;
  width: 19.33%;
  /* padding: 5px; */
  display: inline-block;
  text-align: center;

}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.img1{
  margin-top: 5rem;
  width: 800px;
  height: auto;
}

.get-started-btn{
  margin-left: 73rem;
  width: 180px;
  height: 50px;
  border-style: solid;
  color: #2196f3;
  border-color: #2196f3;
  outline: none !important;
  cursor: pointer;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  font-weight: 500;
  position: relative;
  background: transparent;
  display: inline-block;
  text-decoration: none;
  border: 1px solid;
  border-radius: 4px;
  transition: 0.3s;
}

.get-started-btn:hover{
  background:  #512CB0;
  color: #fff;
  border-color:  #512CB0;
  font-weight: 500;
}

/* DAILY TASKS PAGE */
.python-card{
  padding-top:3rem;
  margin:auto;
  width: 300px;
  height:150px;
  color: black;
  border-radius: 10px;
  background:whitesmoke;
  margin-top:3rem;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.python-card:hover {
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  transform: translateY(-0.25em);
}

.head-selection{
  margin-top: 5rem;
  color:gray;
}

/* USER PROFILE */

.default-profile-picture{
  width: 200px;
  border-radius: 50%;
  /* border-style: solid; */
  /* border-color: lightgray; */
}

/* DAILY PYTHON */

.daily-card{
  margin:auto;
  width: 400px;
  height:500px;
  border-radius: 25px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.spacing{
  margin-top: 3rem;
}

.btn-copy{
  margin-top: 15rem;
  width:100px;
  height:50px;
  border-radius:35px;
  border-style: solid;
  outline:none !important;
  background: #512CB0;
  border-color: #512CB0;
  color:white;
  font-weight: 500;
}

.btn-copy:hover{
  background:gray;
  border-color: gray;
  color:white;
}

.btn-sandbox{
  margin-top: 15rem;
  margin: 10px;
  width:200px;
  height:50px;
  border-radius:35px;
  border-style: solid;
  outline:none !important;
  background: black;
  border-color: black;
  color:white;
  font-weight: 500;
}

.btn-sandbox:hover{
  background:lightgray;
  border-color: lightgray;
  color:black;
}

/* FEED */
.containerFeedLeft{
  width: 25%;
  height: 100rem;
  outline: none !important;
  background-color: rgb(255, 255, 255);
  float: left;
  border-radius: 25px;
  border-color: rgb(13, 0, 134);
  text-align: center;
  border-style: solid;

}


.containerFeedMiddle{
  width: 60%;
  height: 100%;
  outline: none !important;
  background-color:rgb(255, 255, 255);
  float: left;
  padding-bottom: 10rem;
  border-radius: 25px;
  border-color: rgb(32, 0, 121);
  border-style: solid;
}

.containerFeedRight{
  width: 15%;
  height: 100rem;
  outline: none !important;
  float: right;
  background-color: #ffffff;
  border-radius: 25px;
  border-color: rgb(11, 0, 161);
  text-align: center;
  border-style: solid;


}

.FeedLayout{
  width: 50%;
  height: 20rem;
  border-style: solid;
  border-radius: 25px;
  border-color: rgb(0, 11, 160);
  outline: none !important;
  margin: auto;

}


.react-calendar__month-view__weekdays {
  color: rgb(105, 105, 105);
}

.react-calendar__navigation button {
  font-size: 1em;
}
.Calender{

  margin: auto;
}

.App-mobile{
  display: none;
}



.userPicture{
  width: 3rem;
  height: 3rem;
  margin-right: 50rem;
  margin-top: 10rem;
}

.LikeButton{

float: left;
width: 5rem;
padding-top: 10rem;
padding-left: 4rem;
}

.CommentBox{

  float: left;
  width: 20rem;
  padding-left: 5rem;


}

/* DESKTOP RESPONSIVE */

.container-mobile{
  display: none;
}


/* MOBILE RESPONSIVE */

@media only screen and (max-width: 600px) {
 
}

#popover-basic{
  background-color: white !important;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}


.popover-content{
  font-size: large;
  color:#2E2E2E !important;
}

/* HOVER ON NAVBAR DROPDOWN */
.nav-item.dropdown:hover .dropdown-menu {
  display: block !important;
}


.Signed-in-as{
  font-size: 1rem;
  margin-right: 2vh;
}


/* SEARCH BAR */
.search-div{
  text-align:center !important;
}

.searchbar{
  width: 20rem;
  height:3rem;
  border-radius: 25px;
  border-style: solid;
  border-color: gray;
  outline: none !important;
  cursor: pointer;
}

/* CREATE A SOC */
.create-a-soc{
  margin:auto;
  width:400px;
  margin-top:5rem;
}

.submit-soc{
  text-align:center;
  width:30vh;
  height:5vh;
  border-radius: 25px;
  border-style: solid;
  border:none;
  outline: none !important;
  background:#ec615b;
  color: white;
}
.submit-soc:hover{
  background:#b94a46;
  color: white;
}
.textfield-create-a-soc{
  width:40vh;
}
.create-soc-div{
  text-align:center;
}

/* LOGIN TEXTBOXES */

.textfield-pw{
  width: 30vh;
}
.textfield-name{
  width: 30vh;
}
.textfield-email{
  width: 30vh;
}
.login-btn{
  width:30vh;
  height:5vh;
  border-radius: 25px;
  border-style: solid;
  border:none;
  outline: none !important;
  background:#ec615b;
  color: white;
}
.login-btn:hover{
  background:#b94a46;
  color: white;
}

/* REGISTER BUTTON */
.register-btn{
  width:30vh;
  height:5vh;
  border-radius: 25px;
  border-style: solid;
  border:none;
  outline: none !important;
  background:#ec615b;
  color: white;
}
.register-btn:hover{
  background:#b94a46;
  color: white;
}

/* USER PROFILE */
/* USER PROFILE */

.user-image{
  margin-top:5rem;
  width:171px;
  height:180px;
}

.user-profile{
  text-align: center;
}

.stars{
  color: darkorange;
}

.score{
  font-weight: bolder;
}

.profile-cards{
  margin:auto !important;
  text-align: center;

}
.row-profile{
  margin:auto !important;
  text-align: center;

}